/*!
 * Header
 */
.reserve-header {
  transition: all 0.5s ease;
}

.reserve-header.fixed {
  margin-top: -100px;
  transition: all 0.5s ease;
}

.header-top {
  position: fixed !important;
  left: 0;
  top: 0;
  height: 50px;
  z-index: 30;
}

.header-top {
  width: 100%;
  background: $reddy-color;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  padding: 0;
}

.header-top.active {
  animation-duration: .5s;
  animation-name: popUp;
  animation-timing-function: easeOutSine;
  -webkit-transform: translate3d(0, 0, 0);
}

@keyframes popUp {
  from {
    top: -56px;
  }
  to {
    top: 0px;
  }
}

.header-top .nav > li > a.dropdown-toggle.main-heading-a, .header-top .nav > li > span.dropdown-toggle.main-heading-a, .header-top .nav > li > span {
  font-size: $reg-font-size;
  padding: 18px 15px;
  line-height: $reg-font-size;
}

.header-top .nav.nav-top > li > a, .header-top .nav.nav-top > li > span {
  padding: 18px 15px;
  line-height: $reg-font-size;
}

.header-top .top-events .navbar-nav > li.dropdown {
  border-top: none;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.header-top .navbar-nav > li.dropdown:hover {
  background: $dark-reddy-color;
}

.navbar-toggle {
  border: 0;
}

:focus {
  outline: none;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  height: 50px;
  z-index: 30;
  padding: 10px 0;
  background: url('../images/header-shad.png') left -55px repeat;
  -webkit-transform: translate3d(0, 0, 0);
}

header .nav.nav-top > li > a {
  border-top: 1px solid $lighter-grey-color;
}

header .row, .header-top .row {
  margin-left: 0;
  margin-right: 0;
}

header.header-top .home-btn {
  margin-top: 14px;
}

.header-top .navbar-collapse, header .navbar-collapse {
  position: absolute;
  width: 100%;
  top: 49px;
  left: 0;
  padding-right: 0;
  margin-right: 0;
}

.header-top .navbar-toggle {
  margin-top: 10px;
}

.header-top.muted-header {
  z-index: 22;
}

.navbar-nav {
  font-family: $verdana;
}

.nav.navbar-nav.navbar-right {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}

.navbar-nav > li > a.main-heading-a {
  font-size: $md-font-size;
}

.navbar-nav > li > a.sub-heading-a {
  font-size: $reg-font-size;
}

.navbar-header {
  padding-left: 0;
}

.navbar-brand.first {
  height: 30px;
  width: 86px;
  margin-top: 9px;
  padding: 0;
}

.navbar-brand.first {
  margin-top: 0;
}

.site-logo {
  display: block;
  width: 100%;
}

.header-top .navbar-brand.first {
  height: 30px;
  width: 86px;
  margin-top: 10px;
}

.home-btn {
  font-family: $verdana;
  font-size: 14px;
  color: $white-color;
  float: right;
  font-weight: bold;
  margin-right: 15px;
  margin-top: 7px;
}

.navbar-collapse {
  max-height: auto !important;
  padding-left: 0;
  overflow-y: auto !important;
}

.navbar-collapse.in {
  overflow: visible;
}

// .navbar-collapse.main-navig, .navbar-collapse.collapsing {max-height: 460px;overflow-y: auto!important;}
.navbar-collapse.main-navig, .navbar-collapse.collapsing {
  overflow-y: auto !important;
}

.navbar-nav > li > a, li.dropdown > span.dropdown-toggle, .navbar-nav > li > span {
  font-size: 16px;
  background: $white-color;
  color: $black-color;
  text-align: left;
}

.nav > li, .nav > li:hover {
  border-top: 1px solid $light-grey;
}

.nav > li:first-child, .nav > li:first-child:hover {
  border-top: none;
}

.nav > li > a {
  border-top: none;
}

.nav > li > a.dropdown-toggle.main-heading-a, .nav > li > span.dropdown-toggle.main-heading-a {
  padding: 10px 20px;
}

.nav > li > a.dropdown-toggle.main-heading-a, .navbar-nav > li > a, .navbar-nav > li > a.main-heading-a, .navbar-nav > li > span.main-heading-a, .nav > li > span {
  display: block;
  font-size: $reg-font-size;
}

.nav.nav-top > li > a:hover, .nav.nav-top > li > .nav > li > span:hover {
  background: $white-color;
  color: $black-color;
  border-top: 1px solid $light-grey;
}

.nav.nav-top .dropdown-menu li a, .nav.nav-top .dropdown-menu li span {
  padding: 17px 20px;
}

.navbar-nav > li > a, .nav > li > a.dropdown-toggle.main-heading-a, .nav > li > span.dropdown-toggle.main-heading-a {
  display: block;
  padding: 18px 15px;
  line-height: $reg-font-size;
}

header .nav > li.active span, header .nav > li.active a {
  padding: 18px 15px;
  line-height: 14px;
}

header .nav > li.active span, header .nav > li.dropdown.active a {
  background: #f2f2f2;
  color: #666;
}

.header-top .nav > li.dropdown.active > ul > li > a {
  color: $black-color;
}

header .navbar-nav > li > span, .dropdown-menu > li.active span {
  cursor: default;
}

.header-top .nav li.active li.active a, .header-top .nav li.active li a {
  background: $white-color;
}

.header-top .nav li.active li.active span {
  padding: 17px 30px;
}

.header-top .nav > li, .header-top .nav > li:first-child {
  background: $white-color;
}

.dropdown-menu {
  position: relative;
  float: none;
  box-shadow: none;
}

.navbar-nav .open .dropdown-menu, .navbar-nav .open .dropdown-menu li {
  background: $white-color;
}

.dropdown-menu > li {
  border-bottom: none;
  border-top: 1px solid $btn-default-border;
}

.dropdown-menu > li > a, .dropdown-menu > li > span {
  display: block;
  font-size: 14px;
}

.dropdown-menu > li.active span, .dropdown-menu > li.active a {
  background: #f2f2f2;
  color: #666;
}

.dropdown-menu > li.active a:hover, .dropdown-menu > li.active span:hover {
  background: $lighter-grey-color;
}

.dropdown-menu > li > a, .dropdown-menu > li > span, .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
  padding: 17px 30px;
  color: $black-color;
  border-bottom: 1px solid transparent;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > span:hover {
  background: inherit;
}

.dropdown-menu > li > a, .dropdown-menu > li > span, .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
  border-bottom: none;
}

.main-navig .navbar-nav {
  margin: 0;
}

.navbar-collapse .caret {
  display: block;
  float: right;
  margin-top: 8px;
  margin-left: 8px !important;
}

.top-events .navbar-nav > li.dropdown {
  border-right: 1px solid $white-color;
  border-left: 1px solid transparent;
}

.top-events .navbar-nav > li.dropdown:hover {
  border-right: 1px solid $white-color;
  border-left: 1px solid transparent;
}

.color-btn i {
  font-size: 22px;
  color: $black-color;
}

@media screen and (min-width: 480px) {

  .reserve-header.fixed {
    margin-top: -50px;
  }

}

@media screen and (min-width: 768px) and (max-width: $screen-lg) and (max-height: 767px) {

  .header-top {
    height: 50px;
  }
  .header-top .navbar-collapse, header .navbar-collapse {
    top: 106px;
  }
  .header-top.muted-header {
    z-index: 22;
  }
  .header-top.muted-header .navbar-collapse {
    z-index: 23;
  }
  .navbar-toggle {
    display: block;
    margin-right: 0;
    padding: 4px 0;
    margin-top: 4px;
    margin-bottom: 10px;
    float: right;
  }
  .navbar-header {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  .main-navig {
    margin-right: 0;
    padding-right: 0;
    min-width: 154px;
    float: right;
    overflow: visible;
  }
  .main-navig .navbar-nav {
    margin-right: 0;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-collapse.collapse.main-navig {
    display: none !important;
    overflow: visible;
  }
  .navbar-collapse.collapse.in.main-navig {
    display: block !important;
  }
  .dropdown > .dropdown-menu {
    right: 131px;
    left: none;
  }
  .navbar-header {
    padding-left: 0;
  }
  .navbar-brand.first {
    height: 30px;
    width: 86px;
    margin-top: 9px;
  }
  .header-top .navbar-brand.first {
    height: 30px;
    width: 86px;
    margin-top: 10px;
  }
  .navbar-collapse {
    padding-left: 0;
  }
  .navbar-collapse.in {
    overflow: visible;
  }
  .navbar-nav > li > a, .navbar-nav > li > span.dropdown-toggle {
    font-size: 16px;
    background: $white-color;
    color: $black-color;
    text-align: left;
  }
  .dropdown-menu > li > a, .dropdown-menu > li > span {
    font-size: 14px;
  }
  .dropdown-menu > li.active a, .dropdown-menu > li.active span {
    padding-left: 30px;
  }
  .navbar-brand.first {
    margin-top: 0;
  }
  .nav > li, .nav > li:hover {
    border-top: 1px solid $light-grey;
  }
  .nav > li > a.dropdown-toggle.main-heading-a {
    padding: 10px 20px;
  }
  .dropdown > .dropdown-menu {
    left: -161px;
    top: 0;
  }
  .main-navig {
    padding-right: 0;
    min-width: 154px;
    float: right;
  }
  .main-navig .navbar-nav {
    margin: 0 40px !important;
    float: none !important;
  }
  .navbar-collapse.main-navig, .navbar-collapse.collapsing {
    width: 100%;
    background: $white-color;
  }
  .nav.navbar-nav.navbar-right {
    box-shadow: none;
  }
  .navbar-collapse .caret {
    display: block;
    float: right;
    margin-top: 8px;
  }
  .dropdown-menu > li > a, .dropdown-menu > li > span {
    padding: 10px 20px;
    color: $black-color;
    border-bottom: 2px solid transparent;
  }
  .header-top .navbar-collapse {
    position: absolute;
    right: 20px;
    top: 50px !important;
    min-width: 154px;
  }
  .header-top .navbar-toggle {
    margin-top: 10px !important;
  }
  .nav.nav-top > li > a {
    border-top: 1px solid $light-grey;
  }
  .nav.nav-top > li > a:hover {
    background: $white-color;
    color: $black-color;
    border-top: 1px solid $light-grey;
  }
  .nav.nav-top .dropdown-menu li a, .nav.nav-top .dropdown-menu li span {
    padding: 17px 20px;
  }
  .top-events .navbar-nav > li.dropdown {
    border-right: 1px solid $white-color;
    border-left: 1px solid transparent;
  }
  .top-events .navbar-nav > li.dropdown:hover {
    border-right: 1px solid $white-color;
    border-left: 1px solid transparent;
  }
  .navbar-nav > li > a, .nav > li > a.dropdown-toggle.main-heading-a {
    padding: 18px 15px 22px;
    line-height: $reg-font-size;;
  }
  .nav > li > a.dropdown-toggle.main-heading-a, .navbar-nav > li > a, .navbar-nav > li > a.main-heading-a {
    font-size: $reg-font-size;
  }
  .dropdown-menu > li > a, .dropdown-menu > li > span {
    padding: 17px 20px;
  }
  .dropdown > .dropdown-menu {
    left: auto;
    top: auto;
    right: auto;
  }

  header .row, .header-top .row {
    margin-left: 0;
    margin-right: 0;
  }
  .navbar-header {
    padding-right: 0;
  }
  .navbar-toggle {
    margin-right: 0;
    padding: 4px 0px;
    margin-top: 4px;
    margin-bottom: 10px;
  }
  .o-h .event-about {
    padding-left: 0;
    padding-right: 0;
  }
  .o-h .slider-heading {
    padding-left: 0;
    padding-right: 15px;
  }
  .guest-slider {
    margin-right: 20px;
  }

  .header-top .navbar-toggle {
    margin-top: 3px;
  }
  .header-top .navbar-collapse {
    top: 55px;
  }
}

@media screen and (min-width: 768px) and (max-width: $screen-lg) and (min-height: 768px) {
  header {
    height: 106px;
    padding: 25px 0;
    background: url("../images/header-shad-768.png") repeat-x left 0px;
  }
  header .container-fluid {
    padding-left: $xs-gutter/2;
    padding-right: $xs-gutter/2;
  }
  header .tile.active {
    border-top: 1px solid $white-color;
    background: url('../images/bg-tr.png') left top repeat;
    padding: 3px 20px 0 20px;
  }
  header.header-top .tile.active {
    background: none;
  }
  header.header-top .home-btn {
    margin-top: 10px;
  }
  .header-top .navbar-collapse, header .navbar-collapse {
    top: 106px;
  }
  .header-top.muted-header {
    z-index: 22;
  }
  .header-top.muted-header .navbar-collapse {
    z-index: 23;
  }
  .navbar-toggle {
    display: block;
    margin-right: 0;
    padding: 4px 0;
    margin-top: 4px;
    margin-bottom: 10px;
    float: right;
  }
  .navbar-toggle .icon-bar {
    height: 5px;
    width: 40px;
  }
  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 8px;
  }
  .header-top .navbar-toggle {
    margin-top: 6px;
  }
  .nav.navbar-nav.navbar-right {
    float: none !important;
  }
  .navbar-brand {
    margin-left: $xs-gutter/2;
  }
  .navbar-header {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  .main-navig {
    margin-right: 0;
    padding-right: 0;
    min-width: 154px;
    float: right;
  }
  .main-navig .navbar-nav, .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-collapse.collapse.main-navig {
    display: none !important;
  }
  .navbar-collapse.collapse.in.main-navig {
    display: block !important;
  }
  .main-navig .navbar-nav {
    margin: 0 40px !important;
  }
  .navbar-collapse.main-navig, .navbar-collapse.collapsing {
    max-height: 700px;
    width: 100%;
    background: $white-color;
  }
  .nav.navbar-nav.navbar-right {
    box-shadow: none;
  }
  .dropdown-menu > li.active a, .dropdown-menu > li.active span {
    padding-left: 30px;
  }
  .navbar-right .dropdown-menu {
    right: auto;
  }
  .home-btn {
    font-size: $md-font-size;
    margin-top: 12px;
    margin-right: 30px;
  }

  .tile, header.header-top .tile.active {
    float: right;
    border-top: 1px solid transparent;
    padding: 3px 20px 0 20px;
  }

  .header-top {
    height: 55px;
  }
  .header-top .navbar-brand.first {
    margin-top: 10px;
  }
  .header-top .navbar-toggle {
    margin-top: 3px;
    margin-bottom: 0;
  }
  .header-top .navbar-collapse {
    top: 55px;
  }
}

@media (min-width: $screen-lg) {

  header {
    height: 106px;
    padding: 27px 0;
    background: url('../images/header-shad.png') left top repeat-x;
  }
  header .main-navig {
    margin-right: 0;
    float: left
  }
  header #navbar-collapse-1 {
    margin-right: 8.33333%;
    float: right;
    overflow: visible !important;
  }
  header .nav > li > a.dropdown-toggle.main-heading-a, header .navbar-nav > li > a, li.dropdown > span.dropdown-toggle, header .navbar-nav > li > span {
    font-size: $md-font-size;
    line-height: 14px;
    background: transparent;
    color: $white-color;
    padding: 18px 15px;
  }
  header .dropdown > .dropdown-menu, .header-top .dropdown > .dropdown-menu {
    position: absolute;
    min-width: 200px;
    left: 0;
    right: auto;
    top: 56px;
    @include box-shadow(0 6px 12px rgba(0, 0, 0, .175));
  }
  header .dropdown > .dropdown-menu {
    left: 0;
    top: 50px;
  }
  header .navbar-collapse .dropdown.open > .dropdown-menu {
    display: none;
  }
  header .navbar-collapse .dropdown.open:hover .dropdown-menu {
    display: block;
  }
  header .nav > li.dropdown, header .nav > li.dropdown:first-child, header .nav > li.dropdown, header .nav > li {
    border-top: 1px solid transparent;
  }
  header .main-navig .nav > li:hover, header .main-navig .nav > li.active, header .nav > li.dropdown:first-child:hover {
    background: url('../images/bg-tr.png') left top;
    border-top: 1px solid $white-color;
  }
  header .nav > li.active a, header .nav > li.active span {
    background: transparent;
  }
  header nav ul li.dropdown.active ul li.active span {
    background: $hover-li-a;
    transition: all .3s ease;
  }
  header .nav > li.active > span {
    background: transparent;
    color: #fff;
  }
  header .color-btn {
    padding: 17px 15px !important
  }
  .header-top .navbar-collapse, header .navbar-collapse {
    width: auto;
    @include box-shadow(none);
  }
  .header-top .nav > li > a.dropdown-toggle.main-heading-a, .header-top .navbar-nav > li > a, .header-top .navbar-nav > li > span {
    font-size: $reg-font-size;
    color: $white-color;
    background: transparent;
    padding: 21px 15px 21px;
  }
  .header-top .navbar-collapse, header .navbar-collapse {
    position: relative;
    top: 0;
    margin-right: 0;
    float: left;
    right: 0;
  }
  .header-top .navbar-collapse .nav.nav-top {
    margin-right: 0;
  }
  .header-top .nav.nav-top > li > a:hover {
    background: transparent;
    color: $white-color;
  }
  .header-top .nav.nav-top > li > a {
    border-top: none;
  }
  .header-top .nav.nav-top .dropdown-menu {
    left: 0;
    top: 56px;
  }
  .header-top .navbar-collapse.collapsing, .header-top .navbar-collapse.main-navig, header .navbar-collapse.collapsing, header .navbar-collapse.main-navig {
    overflow-y: hidden !important;
    top: auto;
    left: auto;
    right: auto;
  }
  .header-top .navbar-brand.first {
    margin-top: 12px;
  }
  .header-top .row, header .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .header-top .nav > li, .header-top .nav > li:first-child {
    border-top: none;
    background: $red-color;
  }
  header.header-top .main-navig .nav > li:hover, header.header-top .main-navig .nav > li.active, .header-top .nav > li.dropdown:first-child:hover {
    border-top: none;
    background: $dark-reddy-color;
  }
  .header-top .nav > li, .header-top .nav > li.dropdown, .header-top .nav > li.dropdown:first-child, .header-top .nav > li.dropdown:first-child:hover, .header-top .nav > li.dropdown {
    border-top: none;
  }
  .header-top .nav > li.active a, .header-top .nav > li.active span {
    background: transparent;
    padding: 19px 15px 23px;
  }
  .header-top .dropdown-menu > .active > a, .header-top .dropdown-menu > .active > a:focus, .header-top .dropdown-menu > .active > a:hover {
    color: $black-color;
  }
  .header-top .nav li.active li.active span {
    padding: 19px 15px 23px;
  }
  .header-top .nav > li, .header-top .nav > li:first-child {
    background: $red-color;
  }
  .header-top .nav > li.dropdown.active > ul > li > a:hover {
    background: $hover-li-a;
  }
  nav > ul > li.dropdown > ul > li.active > span {
    cursor: pointer;
  }
  .header-top .dropdown > .dropdown-menu-right, header .dropdown > .dropdown-menu-right {
    left: auto !important;
    right: 0 !important;
  }
  .home-btn {
    display: none;
  }
  .navbar-collapse.main-navig, .navbar-collapse.collapsing {
    padding-right: 0;
    overflow-y: hidden !important;
  }
  .navbar-brand.first, .navbar-brand.sec {
    width: 114px;
    height: 44px;
  }
  .navbar-collapse .caret {
    float: none;
    margin-right: 0;
    display: inline-block;
    margin-top: 0;
  }
  .nav.navbar-nav.navbar-right {
    min-width: auto !important;
    max-width: auto !important;
    box-shadow: none;
  }
  .dropdown-menu {
    position: absolute;
    float: left;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown-menu > li > a, .dropdown-menu > li > span, .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
    padding: 17px 20px;
  }
  .dropdown-menu > li > a:hover, .dropdown-menu > li > span:hover {
    background: $hover-li-a;
    transition: all .3s ease;
  }
  .dropdown-menu > li > a, .dropdown-menu > li > span, .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
    border-bottom: none;
  }
  .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    border-top: none;
  }
  .top-events .navbar-nav > li.dropdown, .top-events .navbar-nav > li.dropdown:hover {
    border-right: none;
    border-left: none;
  }
  .header-top nav ul li.dropdown.active ul li.active span {
    display: block;
    white-space: nowrap;
    background: #f2f2f2;
    color: #666;
    transition: all .3s ease;
    cursor: pointer;
  }

  .header-top .color-btn {
    padding: 18px 15px 16px 15px !important
  }
  .color-btn i {
    font-size: 22px;
    color: $white-color;
  }

  .header-top {
    height: 56px;
  }
  .header-top .navbar-brand {
    margin-top: 7px;
  }
}