/**
 * Mixins #mixins
 */
*::-moz-selection {
  background-color: #0af4f4; }
*::selection {
  background-color: #0af4f4; }

a {
  color: #0af4f4;
  border-bottom: 1px solid #0af4f4; }

blockquote::before {
  background-color: #0af4f4; }

.b-footnote__mark {
  color: #0af4f4; }

.b-accordion__panel-ttl .collapsed {
  color: #0af4f4; }

.main-slide .btn-pointer__wrap:hover .btn-pointer {
  color: #fff;
  background-color: #0af4f4; }

.main-slide .btn-pointer__wrap:hover .btn-pointer__left path {
  fill: #0af4f4; }

.btn-info {
  background-color: #0af4f4; }

.btn-info svg path {
  fill: #0af4f4; }

.btn-pointer,
.btn-pointer__sm {
  background-color: #0af4f4; }

.btn-pointer__left path {
  fill: #0af4f4; }

.btn-info span:nth-of-type(2) {
  background-color: #0af4f4; }

.btn-pointer__wrap:hover .btn-pointer,
.btn-pointer__wrap:hover .btn-pointer__sm {
  background-color: #f40b0c; }

.btn-pointer__wrap:hover .btn-pointer__left path {
  fill: #f40b0c; }

.btn-pointer-b__wrap {
  background-color: #f40b0c; }

.btn-pointer-b__wrap .left path,
.btn-pointer-b__wrap .right path {
  fill: #f40b0c; }

.b-footer__days {
  color: #0af4f4; }

.b-footer__contacts a {
  color: #0af4f4;
  border-color: #0af4f4; }

.navbar-list__inner {
  background: #09dcdc; }

.navbar__hr-wrap {
  background-color: #0af4f4; }

.b-video-item__txt {
  color: #0af4f4 !important; }

.b-video-item__data {
  color: #0af4f4; }

.b-box {
  color: #0af4f4;
  -webkit-box-shadow: 0 0 0 2px #0af4f4 inset;
          box-shadow: 0 0 0 2px #0af4f4 inset; }

.b-box:hover {
  color: #f40b0c;
  -webkit-box-shadow: 0 0 0 2px #f40b0c inset;
          box-shadow: 0 0 0 2px #f40b0c inset; }

.b-box--clr-a {
  background-color: #0af4f4; }

.b-box--clr-a:hover {
  background-color: #f40b0c; }

.b-box--clr-b:hover {
  background-color: #f40b0c; }

.content > ul li::before {
  background-color: #0af4f4; }

.content > ol li::before {
  color: #0af4f4; }

.b-share__list {
  color: #0af4f4; }

.b-share__list span::before, .b-share__list span::after {
  background-color: #0af4f4; }

.b-share__list li:hover {
  color: #f40b0c; }

.b-share__list li:hover span::before, .b-share__list li:hover span::after {
  background-color: #f40b0c; }

.header--toggled .navbar-toogle {
  background-color: #0af4f4; }

.navbar-collapse.active {
  background-color: #0af4f4; }

.b-accordion__panel-ttl a:hover {
  color: #f40b0c; }

.panel--bg-b {
  background-color: #0af4f4; }

.panel--bg-c {
  background-color: #f40b0c; }

.main-slide__item-a,
.main-slide__item-b {
  background-color: #f40b0c; }

.main-slide .btn-pointer__wrap .btn-pointer {
  color: #f40b0c; }

.b-form__btn:hover {
  background-color: #f40b0c; }

.b-form__btn {
  background-color: #0af4f4; }

.b-video__cnt-wrap:hover .b-video-item__data,
.b-video__cnt-wrap:hover .b-video-item__txt {
  color: #f40b0c !important; }

.c-box__link:hover,
.b-gallery .c-box__link:hover,
.c-box__inner:hover + .c-box__link-wrap-a .c-box__link {
  color: #f40b0c; }

.mega-menu__item-cont .b-form__btn {
  background-color: #202020; }
  .mega-menu__item-cont .b-form__btn:hover {
    background-color: #f40b0c; }

.b-msg {
  background-color: #f40b0c; }

.b-msg__corner {
  border-left: 23px solid #f40b0c; }

.b-panel-t {
  background-color: #f40b0c; }

.b-panel-t::before {
  border-left: 43px solid #f40b0c; }

.b-promo__s2-ttl {
  color: #f40b0c; }

.c-box__inner .b-box__grdnt-a::after {
  background-image: -webkit-linear-gradient(305deg, #f40b0c 0%, rgba(10, 244, 244, 0.45) 100%);
  background-image: -o-linear-gradient(305deg, #f40b0c 0%, rgba(10, 244, 244, 0.45) 100%);
  background-image: linear-gradient(145deg, #f40b0c 0%, rgba(10, 244, 244, 0.45) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF40B0C', endColorstr='#730AF4F4', GradientType=0); }

.b-promo-sc__item:hover .b-promo-sc__inner-bg {
  background-color: rgba(244, 11, 12, 0.33); }

.main-slide__item-b::after {
  background-color: rgba(244, 11, 12, 0.7); }

.b-partners__img-wrap a:hover {
  background-color: rgba(244, 11, 12, 0.66); }

@media (min-width: 768px) {
  .main-slide__item-inr {
    background-color: #f40b0c; }
  .main-slide__item-b .main-slide__item-inr {
    background-color: rgba(244, 11, 12, 0.7); } }

@media (min-width: 1280px) {
  .btn-pointer-b__wrap:hover {
    background-color: #0af4f4; }
  .btn-pointer-b__wrap:hover .left path,
  .btn-pointer-b__wrap:hover .right path {
    fill: #0af4f4; }
  .navbar-current {
    color: #0af4f4; }
  .navbar-dropdown__menu {
    background: #0af4f4; }
  .mega-menu {
    background-color: #0af4f4; }
  .navbar-list > li:hover > a {
    background-color: #0af4f4; } }
