footer.b-footer
  .container
    .row
      .b-footer__item.b-footer__item--indent.col-xs-12.col-sm-6.col-lg-4
        h6.s6-heading twitter & facebook
        .b-footer__inner.b-footer__twitter
          span.fa.fa-twitter
          p.b-footer__txt.
            RT <a class="link" href="#">@DesignerDepot</a>: "Working on the right thing is probably more important than working
            hard" - Caterina Fake
            <a class="link" href="#">#wdd</a> <a class="link" href="/">#quote</a>
          span.b-footer__days.
            -47 days ago

        .b-footer__inner.b-footer__twitter
          span.fa.fa-twitter
          p.b-footer__txt.
            RT <a class="link" href="/">@DesignerDepot</a>: H.264 still accounts for most video encoding today, but HEVC/H.265 and
            VP9 are beginning to make noise.”
            <a href="/" class="link link--dash"> http://t.co/f1YGnPSijD http://t.co/f1YGnPSijD</a>
          span.b-footer__days.
            -47 days ago

        .b-footer__inner.b-footer__twitter
          span.fa.fa-twitter
          p.b-footer__txt.
            RT <a class="link" href="/">@DesignerDepot</a>: A new series of water-activated artworks on Seattle sidewalks that only
            appear when it rains!
            <a href="/" class="link link--dash"> http://t.co/f1YGnPSijD http://t.co/f1YGnPSijD</a>
          span.b-footer__days.
            -47 days ago

      .b-footer__item.col-xs-12.col-sm-6.col-lg-4
        h6.s6-heading mailing list
        .b-footer__inner
          p.b-footer__txt.b-footer__txt--it.
            Enter your E-mail below to subscribe to our partiesletter. We promise to make you happy very very
            often!
          form.b-form.b-form--inline(action="/" method="GET")
            .b-form__group
              input.b-form__control(type="email", placeholder="Your E-mail")
            button.b-form__btn(type="submit") Subscribe

        hr.hr-line
        .b-footer__inner
          ul.b-social.b-footer__social
            li: a.b-social__btn.btn(href="#"): span.fa.fa-facebook
            li: a.b-social__btn.btn(href="#"): span.fa.fa-google-plus
            li: a.b-social__btn.btn(href="#"): span.fa.fa-linkedin
            li: a.b-social__btn.btn(href="#"): span.fa.fa-twitter
            li: a.b-social__btn.btn(href="#"): span.fa.fa-pinterest-p
            li: a.b-social__btn.btn(href="#"): span.fa.fa-youtube-play
            li: a.b-social__btn.btn(href="#"): span.fa.fa-flickr


      .b-footer__item.col-xs-12.col-lg-4
        .b-footer__msg
          .b-msg
            .b-msg__corner
            p.b-msg__txt.small-txt.
              We like to create cool parties and we love to chat with like-minded
            strong Do not hesitate to say hello!
        .b-footer__contacts
          address.b-footer__adrs.col-sm-4.col-lg-12.
            87500 Mariupol, Ukraine, ul. Kazantseva 7b, 2nd floor, office. 29
          .b-footer__contacts-mail.col-sm-4.col-lg-12
            a.link(href="mailto:hello@cubeclub.com") hello@cubeclub.com
          ul.b-footer__contacts-phones.col-sm-4.col-lg-12
            li: a(href="tel:+38 (050) 588-46-37") +38 (050) 588-46-37
            li: a(href="tel:+38 (097) 798-45-12") +38 (097) 798-45-12

      .b-footer__item-last.right.col-xs-12.col-lg-4
        p.b-footer__copyrights.x-small-txt.
          Copyright 2014 — Cube Club Theme by <a class="link" href="#">makebecool</a> All Rights Reserved
