footer.b-footer
  .container
    .row
      .b-footer__item.col-xs-12.col-sm-6.col-lg-4
        .b-footer__msg
          .b-msg
            .b-msg__corner
            p.b-msg__txt.small-txt.
              We like to create cool parties and we love to chat with like-minded
            strong Do not hesitate to say hello!
        .b-footer__contacts
          address.b-footer__adrs.col-xs-12.
            87500 Mariupol, Ukraine, ul. Kazantseva 7b, 2nd floor, office. 29
          .b-footer__contacts-mail.indent.col-xs-12
            a.link(href="mailto:hello@cubeclub.com") hello@cubeclub.com
          ul.b-footer__contacts-phones.col-xs-12
            li: a(href="tel:+380505884637") +38 (050) 588-46-37
            li: a(href="tel:+380977984512") +38 (097) 798-45-12

      .b-footer__item.col-xs-12.col-sm-6.col-lg-4
        .b-footer__inner
          ul.b-social.b-social--clr-a.b-footer__social
            li: a.b-social__btn.btn(href="#"): span.fa.fa-facebook
            li: a.b-social__btn.btn(href="#"): span.fa.fa-google-plus
            li: a.b-social__btn.btn(href="#"): span.fa.fa-linkedin
            li: a.b-social__btn.btn(href="#"): span.fa.fa-twitter
            li: a.b-social__btn.btn(href="#"): span.fa.fa-pinterest-p
            li: a.b-social__btn.btn(href="#"): span.fa.fa-youtube-play
            li: a.b-social__btn.btn(href="#"): span.fa.fa-flickr

      .b-footer__item-last.right.col-xs-12.col-lg-4
        p.b-footer__copyrights.x-small-txt.
          Copyright 2014 — Cube Club Theme by <a class="link" href="#">makebecool</a> All Rights Reserved
