header#header.header
  .container-fluid.line
    .navbar-header
      a.navbar-brand(href="index.html")
        img(src="images/logo-w.png", alt="")
      button#navbarToogle.navbar-toogle(type="button")
        span.icon-bar
        span.icon-bar
        span.icon-bar

    include innerNavigation



