head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  title ClubCube theme
  meta(name="description", content="")
  link(rel="shortcut icon", href="images/favicon.ico")
  link(rel="dns-prefetch", href="http://www.google-analytics.com")
  link(rel="author", href="humans.txt")
  meta(name="format-detection", content="telephone=no")
  meta(name="twitter:site", content="")
  meta(name="twitter:creator", content="")
  meta(name="twitter:title", content="")
  meta(name="twitter:description", content="")
  meta(name="twitter:image:src", content="")
  meta(property="og:url", content="")
  meta(property="og:type", content="website")
  meta(property="og:title", content="")
  meta(property="og:image", content="")
  meta(property="og:description", content="")
  meta(property="og:site_name", content="")
  link(rel="stylesheet", href="css/base64-fonts.css")
  link(rel="stylesheet", href="css/critical.css")
  <!--[if lt IE 9]><!-->
  script(src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js")
  <!--<![endif]-->
  <!--[if IE]><!-->
  script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
  <!--<![endif]-->
  noscript.
    <link rel="stylesheet" href="css/base64-fonts.css" type="text/css">
  noscript.
    <link rel="stylesheet" href="css/critical.css" type="text/css">
  noscript.
    <link rel="stylesheet" href="css/main-style.css" type="text/css">