header#header.header
  .container-fluid.line
    .navbar-header
      a.navbar-brand(href="index.html")
        img(src="images/logo-w.png", alt="")
      button#navbarToogle.navbar-toogle(type="button")
        span.icon-bar
        span.icon-bar
        span.icon-bar

    nav#navbarCollapse.navbar-collapse
      ul#navigation.navbar-list.dl-menu
        li
          span.navbar-current Home
        li
          a(href="#") Events
            i.fa.fa-angle-right
          ul.navbar-dropdown__menu.dl-submenu
            li
              a(href="events.html") Event list (lines)
            li
              a(href="event-open.html") Event open
            li.navbar-dropdown__submenu
              span view
                i.fa.fa-angle-right
              ul.navbar-list__inner.dl-submenu
                li
                  a(href="#") regular
                li
                  a(href="#") white gallery
        li
          a(href="#") Gallery
            i.fa.fa-angle-right
          ul.navbar-dropdown__menu.dl-submenu
            li
              a(href="gallery.html") gallery list
            li
              a(href="gallery-open.html") gallery open
        // li
          a(href="#") About
        // li
          a(href="#") Residents
        li
          a(href="#") Blog
            i.fa.fa-angle-right
          ul.navbar-dropdown__menu.dl-submenu
            li
              a(href="blog.html") blog list
            li
              a(href="blog-open.html") No Titile Image & Full Width
            li
              a(href="blog-open-img.html") Title Image & Full Width
            li
              a(href="blog-open-sidebar.html") No Title Image & Right Sidebar
            li
              a(href="blog-open-img-sidebar.html") Title Image & Right Sidebar
        // li
          a(href="#") Contacts
        li.navbar__item-mega-menu
          a(href="#") Elements
            i.fa.fa-angle-right
          .mega-menu.dl-submenu
            ul.mega-menu__list
              li.col-sm-6.col-lg-3: a(href="media.html").mega-menu__link-media: b video & audio
              li.col-sm-6.col-lg-3: a(href="tabs-accordion.html").mega-menu__link-tabs: b tabs & accordion
              li.col-sm-6.col-lg-3: a(href="typography.html").mega-menu__link-graph: b typography
              li.col-sm-6.col-lg-3: a(href="buttons.html").mega-menu__link-btn: b buttons
              // li.col-sm-6.col-lg-3: a(href="#").mega-menu__link-fdback: b testimonials
              // li.col-sm-6.col-lg-3: a(href="#").mega-menu__link-tmtable: b timetable
              li.col-sm-6.col-lg-3: a(href="grid.html").mega-menu__link-rpscol: b responsive columns
            .navbar__hr-wrap
              .hr-line
              .hr-line
              .hr-line
            .mega-menu__events-wrap.row
              .mega-menu__events.col-lg-6
                .row
                  .mega-menu__events-list.col-sm-6
                    .c-box.c-box--sm
                      .c-box__inner
                        .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_16_Original.jpg")
                        .c-box__cont
                          h6.c-box__ttl-s6 Feel our new dancehall "Rivierra"
                        .c-box__date-item.c-box__date-item--float
                          time.date-sm.c-box__date.c-box__date--sm(datetime="2009-08-29T20:00")
                            span.date-sm__dt 23
                            span.date-sm__rh
                              span.date-sm__rh-m sept
                              span.date-sm__rh-d 2014
                            span.date__ad 8:00 pm
                        a(href="event-open.html").b-box__link

                    .c-box.c-box--sm
                      .c-box__inner
                        .b-box__img-wrap.b-box__bg-a
                        .c-box__cont
                          h6.c-box__ttl-s6 Feel our new dancehall "Rivierra"
                        .c-box__date-item.c-box__date-item--float
                          time.date-sm.c-box__date.c-box__date--sm(datetime="2009-08-29T20:00")
                            span.date-sm__dt 23
                            span.date-sm__rh
                              span.date-sm__rh-m sept
                              span.date-sm__rh-d 2014
                        a(href="event-open.html").b-box__link

                    .c-box.c-box--sm
                      .c-box__inner
                        .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_15_Original.jpg")
                        .c-box__cont
                          h6.c-box__ttl-s6 Feel our new dancehall "Rivierra"
                        .c-box__date-item.c-box__date-item--float
                          time.date-sm.c-box__date.c-box__date--sm(datetime="2009-08-29T20:00")
                            span.date-sm__dt 23
                            span.date-sm__rh
                              span.date-sm__rh-m sept
                              span.date-sm__rh-d 2014
                        a(href="event-open.html").b-box__link

                  .c-box.c-box--sm.col-sm-6
                    .c-box__inner
                      .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_19_Original.jpg")
                      .c-box__cont
                        h6.c-box__ttl-s6 Feel our new dancehall "Rivierra"
                      .c-box__date-item.c-box__date-item--float
                        time.date-sm.c-box__date.c-box__date--sm(datetime="2009-08-29T20:00")
                          span.date-sm__dt 23
                          span.date-sm__rh
                            span.date-sm__rh-m sept
                            span.date-sm__rh-d 2014
                          span.date__ad 8:00 pm
                      .c-box__link-wrap
                        .btn-pointer__wrap.
                          <a class="btn btn-pointer__sm btn-anim-a" href="event-open.html"><b>join event</b></a>
                          <svg class="btn-pointer__left" x="0px" y="0px"
                          viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                          <path class="st0" fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                      a(href="event-open.html").b-box__link

              .mega-menu__content.col-lg-6
                .row
                  .mega-menu__item-cont.col-sm-6
                    h6.mega-menu__ttl-s6 What do i need to know?
                    p.
                      But still, we love to roll loud dancing until dawn, and then to "crawl" on the body,
                      remember proschedshem evente perekrik and share emotions we experienced some time ago.

                  .mega-menu__item-cont.col-sm-6
                    h6.mega-menu__ttl-s6 Get in touch with our new Events
                    p.mega-menu__txt.
                      Enter your E-mail below to subscribe to our partiesletter. We promise to make you happy very very
                      often!
                    form.b-form.b-form--inline(action="/" method="GET")
                      .b-form__group
                        input.b-form__control(type="email", placeholder="Your E-mail")
                      button.b-form__btn(type="submit") Subscribe
        li.navbar__tint
          a(href="#")
            span.fa.fa-tint
            i.fa.fa-angle-right
          ul.navbar-dropdown__menu.dl-submenu
            li
              span wide
            li.navbar-dropdown__submenu
              span boxed
                i.fa.fa-angle-right
              ul.navbar-list__inner.dl-submenu
                li
                  span Circle pattern
                li
                  span Triangle pattern
                li
                  span Solid Color
                li
                  span Waves pattern

            li.navbar__hr-wrap
              .hr-line
              .hr-line
            li.clr-picker.green
              span green/violet

            li.clr-picker.orange
              span orange/red



