header#header.header
  .container-fluid.line
    .navbar-header
      a.navbar-brand(href="#")
        img(src="images/logo-w.png", alt="")
      button#navbarToogle.navbar-toogle(type="button")
        span.icon-bar
        span.icon-bar
        span.icon-bar

    nav#navbarCollapse.navbar-collapse
      ul#navigation.navbar-list.dl-menu
        li
          span.navbar-current Home
        li.dt-up
          a(href="#") Albums
            i.fa.fa-angle-right
          ul.navbar-list-item.dl-submenu
            li
              a(href="#") list (lines)
            li
              a(href="#") list (lines)
        li.dt-up
          a(href="") Events
            i.fa.fa-angle-right
          ul.navbar-list-item.dl-submenu
            li
              a(href="#") list (lines)
            li
              a(href="#") list (lines)
            li.navbar-list-next.dt-up
              a(href="#") view
                i.fa.fa-angle-right
              ul.navbar-list-inner.dl-submenu
                li
                  a(href="#") regular
                li
                  a(href="#") white gallery
        li.dt-up
          a(href="") Gallery
            i.fa.fa-angle-right
          ul.navbar-list-item.dl-submenu
            li
              a(href="#") gallery list
            li
              a(href="#") gallery open
        li
          a(href="#") About
        li
          a(href="#") Residents
        li.dt-up
          a(href="") Blog
            i.fa.fa-angle-right
          ul.navbar-list-item.dl-submenu
            li
              a(href="#") blog list
            li
              a(href="#") blog open
        li
          a(href="#") Contacts
        li
          a(href="#") Elements
            i.fa.fa-angle-right
          .mega-menu.dl-submenu
            
        li
          a(href="#")
            span.fa.fa-tint


