header#header.header
  .container-fluid.line
    .navbar-header.intro
      a.navbar-brand(href="landing.html") #[span.intro intro]
        
      button#navbarToogle.navbar-toogle(type="button")
        span.icon-bar
        span.icon-bar
        span.icon-bar

    block menu



