config.core.php
.idea
nbproject
.svn
.sass-cache
node_modules

/_packages/*
/.sass-cache
/themeforest-materials

/basetheme-design/images/patterns/.DS_Store

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### Gulp
package-lock.json