/* ========================================================================
 * Color Scheme
 * ======================================================================== */
/*
Normal:							#8a95a6; (Red)
Dark Normal: 					#912a41; ()
Hover:							#595f67; (Orange)
Active:							#47464a; (Orange pressed)
Marengo:						#f7e9e5;
Footer welcome p:				#fc9; 
Footer text color:				#ae828c;
Normal border:					#e3e5e8;
Hover border: 					#e3e5e8; 
TilesBorder:					#e77e5b; (Light orange)

Light brown:					#595f67; 
Light brown top border:			#696f76;
Dark brown:						#242629; 


Linear-gradient footer: 		#8a95a6 - #595f67
Popup event linear gradient: 	#bd3b3d - #8f2c41
Gallery linear gradient: 		#595f67 - #8a95a6

*/


/* ========================================================================
 * Loader
 * ======================================================================== */
/*.loader-container.active .fr-bl, .subscribe-here .fr-bl, .suc.loader .fr-bl {background:#d1dd6f;}
.loader-container.active .sc-bl, .subscribe-here .sc-bl, .suc.loader .sc-bl {background:#e98666;}
.loader-container.active .thr-bl, .subscribe-here .thr-bl, .suc.loader .thr-bl {background:#bf5e72;}
.loader-container.active .fth-bl, .subscribe-here .fth-bl, .suc.loader .fth-bl {background:#85666e;}*/

/* ========================================================================
 * Header
 * ======================================================================== */
.header-top {background: #8a95a6;}/*Red*/
.header-top .nav>li, .header-top .nav>li:first-child {background: #fff;}
.header-top .nav>li.dropdown:first-child:hover, header.header-top .main-navig .nav>li.active, header.header-top .main-navig .nav>li:hover {background: rgba(0,0,0,.2);}

/* ========================================================================
 * Footer
 * ======================================================================== */
.contact-us {background: #45484b; /* Old browsers */
background: -moz-linear-gradient(-7deg, #45484b 0%, #595f67 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#45484b), color-stop(100%,#595f67)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-7deg, #45484b 0%,#595f67 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-7deg, #45484b 0%,#595f67 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-7deg, #45484b 0%,#595f67 100%); /* IE10+ */
background: linear-gradient(-7deg, #45484b 0%,#595f67 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484b', endColorstr='#595f67',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}/*Red liear gradient*/
.welcome {background: #595f67;}/*Orange*/
.welcome p {color: #fff;}
.welcome-inner .corner-welcome {border-left: 30px solid #595f67;}/*Orange*/
.address-list>li ul li {color: rgba(255,255,255,.4);}
.address-list>li>a {color:#45484b;}
.contact-us p {color: #fff;}
.subscribe-here .subscribe button {background: #8a95a6;}/*Orange*/
.subscribe-here form.error {border: 2px solid #8a95a6;}/*Orange*/
.subscribe-here .subscribe input.error {border: 2px solid transparent !important;}
footer a {color:#595f67;}/*Orange*/
footer a:hover {color: #595f67;}/*Orange*/
.social-icons li a:hover {background: #595f67;}/*Orange*/
.social-icons li a i {color: #595f67;}/*Orange*/
.copyrights-bottom p {color:#333;}
.copyrights-bottom a, .copyrights-bottom a:hover {color:#595f67;}/*Orange*/

/* ========================================================================
 * Buttons
 * ======================================================================== */
blockquote {border-left: 5px solid #8a95a6;}/*Red*/
blockquote a {color:#595f67;}/*Orange*/

.read-more {background:#8a95a6;}/*Red*/
.read-more:active {background:#47464a;}/*Orange pressed*/
.read-more.hover, .read-more:hover {background:#595f67;}/*Orange*/
.read-more.pressed {background: #47464a;}/*Orange pressed*/

.left-pag .pad-arr, .right-pag .pad-arr {background:#595f67;@include transitions(.3s);}/*Orange*/
.left-pag.pressed .pad-arr, .right-pag.pressed .pad-arr, .left-pag:hover .pad-arr, .right-pag:hover .pad-arr {background:#595f67;}/*Orange Hover*/
.left-pag.pressed .pad-title, .right-pag.pressed .pad-title, .left-pag:hover .pad-title, .right-pag:hover .pad-title {color:#47464a;}/*Orange Pressed*/
.left-pag.hover .pad-title, .left-pag:hover .pad-title, .right-pag.hover .pad-title, .right-pag:hover .pad-title {color: #595f67;}/*Orange Hover*/
.left-pag.pressed .pad-text, .right-pag.pressed .pad-text {border: 1px solid #47464a;}/*Orange pressed*/
.left-pag.off .pad-dates, .left-pag.off .pad-title, .right-pag.off .pad-dates, .right-pag.off .pad-title, .right-pag.off:hover .pad-dates, .right-pag.off:hover .pad-title {color: #ccc;}

.left-pag .pad-title, .right-pag .pad-title {color: #595f67;}/*Orange*/
.left-pag .pad-dates, .right-pag .pad-dates {color: #8a95a6;}

@media screen and (min-width: 480px) {
.left-pag .pad-text, .right-pag .pad-text {border: 1px solid #e3e5e8;}
.left-pag:hover .pad-text, .left-pag.hover .pad-text {border:1px solid #e3e5e8;}
.right-pag:hover .pad-text, .right-pag.hover .pad-text {border:1px solid #e3e5e8;}
.left-pag.hover .pad-arr, .left-pag:hover .pad-arr, .right-pag.hover .pad-arr, .right-pag:hover .pad-arr {background: #595f67;}
}


.button-slider, .top-events-sliders .slick-dots li button, .default-slider-tickets .slick-dots li button {background-color:#8a95a6;border:2px solid #8a95a6;}/*Red*/
.button-slider.hover {border:2px solid #8a95a6;}/*Red*/


.button-arrow-left:before, .default-gallery-slider .slick-prev:before, .partners-slider .slick-prev:before, .top-events-sliders .slick-prev:before {border-left: 1px solid #8a95a6; border-bottom: 1px solid #8a95a6;}/*Red*/
.button-arrow-left.hover:before, .button-arrow-left:hover:before, .button-arrow-right:before, .default-gallery-slider .slick-next.hover:hover, .default-gallery-slider .slick-next:hover:before, .default-gallery-slider .slick-prev.hover:before, .default-gallery-slider .slick-prev:hover:before, .partners-slider .slick-next.hover:before, .partners-slider .slick-next.hover:hover:before, .partners-slider .slick-next:before:hover, .partners-slider .slick-next:hover:before, .partners-slider .slick-prev:hover:before {border-left: 1px solid #595f67; border-bottom: 1px solid #595f67;}/*Orange*/
.button-arrow-left:before, .default-gallery-slider .slick-prev:before, .partners-slider .slick-prev:before, .top-events-sliders .slick-prev:before {border-left: 1px solid #8a95a6;border-bottom: 1px solid #8a95a6;}/*Orange Hover*/
.button-arrow-right:before, .default-gallery-slider .slick-next:before, .partners-slider .slick-next:before, .top-events-sliders .slick-next:before {border-left: 1px solid #8a95a6;border-bottom: 1px solid #8a95a6;}
.button-arrow-left.pressed:before, .default-gallery-slider .slick-prev.pressed:before, .partners-slider .slick-next.pressed:before, .partners-slider .slick-prev.pressed:before {border-left: 1px solid #47464a;border-bottom: 1px solid #47464a;}
.button-arrow-left.off:before, .partners-slider .slick-disabled:before, .partners-slider .slick-disabled:hover:before, .partners-slider .slick-prev.off:before, .top-events-sliders .slick-disabled:before, .top-events-sliders .slick-disabled:hover:before {border-left: 1px solid #ccc;border-bottom: 1px solid #ccc;}
.default-gallery-slider .slick-disabled:before, .default-gallery-slider .slick-disabled:hover:before {border-left: 1px solid #ccc;border-bottom: 1px solid #ccc;cursor: default;}

.button-filter.checked .button-filter-text, .button-filter.unchecked .button-filter-text {color: #8a95a6;}/*Red*/
.button-filter.checked .button-filter-line.left, .button-filter.checked .button-filter-line.right, .button-filter.unchecked .button-filter-line.left, .button-filter.unchecked .button-filter-line.right {background: #8a95a6;}/*Red*/
.button-filter.unchecked.hover, .button-filter.unchecked:hover, .button-filter.unchecked.pressed {background: #8a95a6;border: 1px solid #8a95a6;}
.button-filter.unchecked.off, .button-filter.checked.off {border: 1px solid #ccc;background-color: transparent;}

.button-more {border: 1px solid #e3e5e8;}/*Light red border*/
.button-more .button-filter-text {color:#8a95a6;}/*Red*/
.button-more .button-filter-line.left, .button-more .button-filter-line.right {background: #8a95a6;}/*Red*/
.button-more.hover, .button-more:hover {background: #595f67;border: 1px solid #595f67;}/*Orange*/
.button-more.pressed {background: #47464a;border: 1px solid #47464a;}/*Orange pressed*/
.button-more.off {background: transparent;border: 1px solid #ccc;}

.button-dropdown .button-dropdown-text {border: 1px solid #e3e5e8;border-right: none;}/*Light red border*/
.button-dropdown .button-dropdown-text .dropdown-text-title {color:#8a95a6;}/*Red*/
.button-dropdown .button-dropdown-arr {background: #8a95a6;border: 1px solid #8a95a6;}/*Red*/
.button-dropdown.hover .button-dropdown-text, .button-dropdown:hover .button-dropdown-text {border: 1px solid #e3e5e8;border-right: none;}/*Light red border*/
.button-dropdown.hover .dropdown-text-title, .button-dropdown:hover .dropdown-text-title {color:#595f67;}/*Orange Hover*/
.button-dropdown.hover .button-dropdown-arr, .button-dropdown:hover .button-dropdown-arr {background: #595f67;border: 1px solid #595f67;}/*Orange Hover*/
.button-dropdown.pressed .button-dropdown-text {border: 1px solid #47464a;}/*Orange pressed*/
.button-dropdown.pressed .dropdown-text-title {color: #47464a;}/*Orange pressed*/
.button-dropdown.pressed .button-dropdown-arr {background: #47464a;border: 1px solid #47464a;}/*Orange pressed*/
.button-dropdown.off .dropdown-text-dates, .button-dropdown.off .dropdown-text-title {color: #ccc;}

.dropdown-list .button-dropdown-text .dropdown-text-title {color: #8a95a6;}/*Red*/
.dropdown-list .button-dropdown-text.hover .dropdown-text-title, .dropdown-list .button-dropdown-text:hover .dropdown-text-title {color: #595f67;}/*Orange Hover*/
.dropdown-list .button-dropdown-text.pressed .dropdown-text-title {color: #47464a;}/*Orange pressed*/
.button-dropdown .tab-custom .dropdown-text-title, .button-dropdown.pressed .tab-custom .dropdown-text-title {color: #8a95a6;}/*Red*/
.button-dropdown .tab-custom.pressed .dropdown-text-title, .button-dropdown .tab-custom:hover .dropdown-text-title, .button-dropdown.pressed .tab-custom.pressed .dropdown-text-title, .button-dropdown.pressed .tab-custom:hover .dropdown-text-title {color: #595f67;}/*Orange*/

.tab-custom .tab-custom-line {background: #595f67;}/*Orange*/
.tab-custom.hover .tab-custom-line, .tab-custom:hover .tab-custom-line {background: #595f67;}/*Orange*/
.tab-custom.off .dropdown-text-dates, .tab-custom.off .dropdown-text-title {color: #ccc;}
.tab-custom.off .tab-custom-line {background: #ccc;}

.tab-custom .dropdown-text-title {color: #8a95a6;}/*Red*/
.tab-custom.hover .dropdown-text-title, .tab-custom:hover .dropdown-text-title {color: #595f67;}/*Orange Hover*/
.tab-custom.hover .tab-custom-line, .tab-custom:hover .tab-custom-line {background: #595f67;}/*Orange Hover*/
.tab-custom.pressed .dropdown-text-title {color: #47464a;}/*Orange pressed*/
.tab-custom.pressed .tab-custom-line {background: #47464a;}/*Orange pressed*/

.mob-menu li a {color: #8a95a6;}/*Red*/
ul.mob-menu li a.hover, ul.mob-menu li a:hover {color: #595f67;}/*Orange Hover*/
ul.mob-menu li a.pressed {color: #47464a;}/*Orange pressed*/

label.rb-lb:before {border: 2px solid #8a95a6;}/*Red*/
input[type=radio]:checked+label.rb-lb.active:after {background: #8a95a6;}/*Red*/
input[type=radio]+label.rb-lb.hover-lb:hover:after, input[type=radio]+label.rb-lb:hover:after, input[type=radio]:checked+label.rb-lb.hover-lb:after, input[type=radio]:checked+label.rb-lb.hover-lb:hover:after {background: #595f67;}/*Orange Hover*/
input[type=radio]+label.rb-lb.hover-lb:hover:after, input[type=radio].pressed-rb:checked+label.rb-lb.pressed-lb:after {background: #595f67;}/*Orange Hover*/

input[type=checkbox]+label.chb-lb.hover-lb:hover:after, input[type=checkbox]+label.chb-lb:hover:after, input[type=checkbox]:checked+label.chb-lb.hover-lb:after, input[type=checkbox]:checked+label.chb-lb.hover-lb:hover:after {color: #595f67;}/*Orange*/
input[type=checkbox]+label.chb-lb.pressed-lb:after, input[type=checkbox].pressed-chb:checked+label.chb-lb.pressed-lb:after, input[type=checkbox].pressed-chb:checked+label.chb-lb.pressed-lb:hover:after, input[type=checkbox]:checked+label.chb-lb.active:after {color:#8a95a6;}/*Red*/
input[type=checkbox].off-chb:checked+label.chb-lb.off-lb:after, input[type=checkbox].off-chb:checked+label.chb-lb.off-lb:hover:after {color:#ccc;}

label.chb-lb:before {border: 2px solid #8a95a6;}/*Red*/


input.form-control:focus, textarea:focus {border: 2px solid #8a95a6!important;}/*Red*/
.select-dropdown.pressed select.form-control, .select-dropdown.pressed select.form-control:focus, .select-dropdown.pressed:hover select.form-control, .select-dropdown:hover select.form-control {border: 2px solid #8a95a6!important;}/*Red*/
.select-dropdown.pressed:after, .select-dropdown:hover:after {background: #8a95a6;}/*Red*/

.has-error .form-control {border-color: #595f67;}/*Orange*/
.btn-default {background-color: #8a95a6;}/*Red*/
.btn-default:hover {background-color: #595f67;}/*Orange*/
.btn:active {background-color: #47464a;}/*Orange pressed*/

.tooltip-inner {background-color: #595f67;}
.tooltip.top .tooltip-arrow {border-top-color: #595f67;}

textarea.pressed, .form-control.pressed {border: 2px solid #8a95a6;}
label.error {color:#595f67;}

.subscribe-label-inner {background-color: #595f67;}
.subscribe-label-arrow {border-top-color:#595f67;}

.middle-paging li a, .middle-paging li span {color: #8a95a6;border: 1px solid #e3e5e8;}

/* ========================================================================
 * Main
 * ======================================================================== */
.date-event {background: #8a95a6;}/*Orange*/
.popup-evt {
background: #45484b; /* Old browsers */
background: -moz-linear-gradient(-135deg, #45484b 0%, #595f67 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#45484b), color-stop(100%,#595f67)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-135deg, #45484b 0%,#595f67 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-135deg, #45484b 0%,#595f67 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-135deg, #45484b 0%,#595f67 100%); /* IE10+ */
background: linear-gradient(135deg, #45484b 0%,#595f67 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484b', endColorstr='#595f67',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}/*Red*/
.gallery {background: #45484b; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #45484b 0%, #595f67 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#45484b), color-stop(100%,#595f67)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, #45484b 0%,#595f67 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, #45484b 0%,#595f67 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, #45484b 0%,#595f67 100%); /* IE10+ */
background: radial-gradient(ellipse at center, #845484b 0%,#595f67 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484b', endColorstr='#595f67',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}/*Red*/


/* ========================================================================
 * Blogs
 * ======================================================================== */
.blog-item-categ:hover {color: #595f67;}/*Orange*/
.blog-item-def:hover {background: #f7e9e5;}/*Marengo*/
.top-event-place.blog-view-descr .blog-item-categ {color: #595f67;}

/* ========================================================================
 * Event list
 * ======================================================================== */
.ticket-event-date {background: #595f67;}/*Orange*/
.ticket-event-price {background: #8a95a6;}/*Red*/
.ticket-event-lineup .ticket-line-up {color:#8a95a6;}/*Red*/


/* ========================================================================
 * Events tiles
 * ======================================================================== */
.ticket-event-lineup h2 a, .ticket-event-lineup h3 a {color: #595f67;} /*Light brown*/
.ticket-event:hover .ticket-event-price {background: #595f67;}/*Orange*/


/* ========================================================================
 * Events view
 * ======================================================================== */
 .top-line-up {background: #242629;}/*Dark brown*/
 .bottom-line-up {background: #595f67;border-top: 1px solid #696f76;}/*Light brown*/
/* .socials.brown-sc {color:#242629;}/*Dark brown*/
/* .ttl {color:#595f67;}*//*Orange*/
/* .dt {color: #242629;}*//*Dark brown*/
 .page-text ul li:before {background: #8a95a6;}/*Red*/
 .page-text ol li:before {color: #8a95a6;}/*Red*/
 .page-text .footnote {color:#595f67;}/*Orange*/
.line-up-arrow {border-left: 40px solid #595f67;}
.line-up-title {color: #d3a8af;}
.bottom-line-up ul li .under-descr {color: #595f67;}/*Orange*/
.event-line-up a, .bottom-line-up ul li .under-descr {color:#595f67;}


/* ========================================================================
 * Content view
 * ======================================================================== */
 .blog-item-categ {color:#595f67;}/*Orange*/
 .content-header.white-no-img .event-about.view-evt .date {background:#595f67;}/*Orange*/
 .content-header.white-no-img .event-about.view-evt .slider-heading.event-h1 {color:#595f67;}/*Orange*/
 .content-main__side-header {color: #595f67;}/*Orange*/
.page-text a {color: #595f67;-webkit-transition: all .3s ease;transition: all .3s ease;}
.page-text a:hover {color:#595f67;-webkit-transition: all .3s ease;transition: all .3s ease;}

@media screen and (min-width: 1200px) {
.header-top .nav > li, .header-top .nav > li:first-child {background:#8a95a6;}
}
