doctype html
html(lang='en')
  include components/head
  body
    .wrap
      include components/header
      .b-headlines.b-headlines--img-prlx.b-headlines--color-a
        .c-headlines__img-wrap.parallax.bg-image(data-stellar-background-ratio="1.2",
        data-bgimage="../uploads/blog/open/Content_02_wide_2.jpg")
        .container
          .b-breadcrumbs.b-breadcrumbs--wht
            ul.b-breadcrumbs__list.x-small-txt
              li: a.link(href="index.html") main
              li: a.link(href="blog.html") blog
              li Private house party
          h1.b-headlines__ttl Title Image & Full Width
          time.b-headlines__date(datetime="2015-04-25T14:44") May 25, 14:44

      .b-content.container
        .row
          main.b-main.b-main--center-pg.b-blog-inr.col-md-8.col-lg-7
            .txt-intro
              p Friendship - is unselfishness , personal relationship between people based on
                | sympathy, sincerity, love and trust. But still, we love loud roll
                | dancing until dawn  and then to "crawl" on the body, remember proschedshem
                | evente perekrik and share emotions we experienced some time ago.

            .main-video
              .main-video__iframe-wrap
                iframe(src="https://player.vimeo.com/video/140230038?title=0&byline=0&portrait=0" allowfullscreen)
              p.b-video__figcaption.
                Your inner self will meet the full force of the summer, and we can go back to each witness
                leaving the pores, we go back to basics!
            p.
              Friendship - is unselfishness , personal relationship between people
              based on sympathy, sincerity, love and trust. But still, we love loud
              roll dancing until dawn  and then to "crawl" on the body, remember proschedshem
               evente perekrik and share emotions we experienced some time ago.

            .b-blog-inr__aside
              .b-blog-inr__img-wrap
                img(src="../uploads/blog/open/Content_03.jpg" alt="foto")
            p.
              Friendship - is unselfishness , personal relationship between people
              based on sympathy, sincerity, love and trust. But still, we love loud
              roll dancing until dawn  and then to "crawl" on the body, remember proschedshem
              evente perekrik and share emotions we experienced some time ago.
              Friendship - is unselfishness , personal relationship between people based
              on sympathy, sincerity, love and trust. But still, we love loud roll dancing
              until dawn  and then to "crawl" on the body, remember proschedshem evente
              perekrik and share emotions we experienced some time ago.
              Friendship - is unselfishness , personal relationship between people based
              on sympathy, sincerity, love and trust. But still, we love loud roll dancing
              until dawn  and then to "crawl" on the body, remember proschedshem evente
              perekrik and share emotions we experienced some time ago.

            p.
              Friendship - is unselfishness , personal relationship between people
              based on sympathy, sincerity, love and trust. But still, we love loud
              roll dancing until dawn  and then to "crawl" on the body, remember proschedshem
               evente perekrik and share emotions we experienced some time ago.
              Friendship - is unselfishness , personal relationship between people based
              on sympathy, sincerity, love and trust. But still, we love loud roll dancing
              until dawn  and then to "crawl" on the body, remember proschedshem evente
              perekrik and share emotions we experienced some time ago.

            .b-blog-inr__img-wrap
              img(src="../uploads/blog/open/Content_04_wide.jpg" alt="foto")

            p.
              Friendship - is unselfishness , personal relationship between people
              based on sympathy, sincerity, love and trust. But still, we love loud
              roll dancing until dawn  and then to "crawl" on the body, remember proschedshem
               evente perekrik and share emotions we experienced some time ago.
               Friendship - is unselfishness , personal relationship between people based
               on sympathy, sincerity, love and trust. But still, we love loud roll dancing
               until dawn  and then to "crawl" on the body, remember proschedshem evente
               perekrik and share emotions we experienced some time ago.

            article
              h2.s3-heading Nature of the event + bullit & List
              ul.list.txt
                li Participants of the event , on forms zapolennnym
                li Indoor , 3-storey mansion.
                li
                  | Faith , dress , soul control. But still, we love loud roll dancing until dawn  and then
                  | to "crawl" on the body
                li Waitstaff
                li Hour bar

              ol.list-numb.txt
                li Free Entrance <sup class="b-footnote__mark">*</sup>
                li Free Bar <sup class="b-footnote__mark">*</sup>
                li Free Pool <sup class="b-footnote__mark">*</sup>
                li Free Things to do on-site <sup class="b-footnote__mark">*</sup>

              .b-footnote
                p.small-txt.
                  <sup class="b-footnote__mark">*</sup> - Your inner self will meet the full force of the summer,
                  and we can go back to each witness leaving the pores, we go back to basics!

            article
              h3.s3-heading Nature of the event + quote & links
              blockquote.b-quote.txt
                p.b-quote__txt
                  | Friendship - is unselfishness , personal relationship between people based on
                  | sympathy, sincerity, love and trust. But still, we love loud roll dancing until dawn
                  | and then to "crawl" on the body, remember proschedshem evente perekrik and
                  | share emotions we experienced some time ago.

                a.link(href="https://docs.google.com/forms/d/1Ib-DlLhw5DIU_CEwmuajux_7M1cz3yGXmzbBM9NIPHo/viewform")
                  | https://docs.google.com/forms/d/1Ib-DlLhw5DIU_CEwmuajux_7M1cz3yGXmzbBM9NIPHo/viewform
                <br/>
                a.link(href="https://docs.google.com/forms/d/1Ib-DlLhw5DIU_CEwmuajux_7M1cz3yGXmzb")
                  | https://docs.google.com/forms/d/1Ib-DlLhw5DIU_CEwmuajux_7M1cz3yGXmzb

            .b-share
              .b-item__header
                h6.s6-heading.b-item__ttl-header Share this post
              ul.b-likes.b-share__list
                li.b-likes__pinterest-p
                  span 457
                li.b-likes__google-plus
                  span 457
                li.b-likes__twitter
                  span 457
                li.b-likes__facebook
                  span 1457

            .b-main__events
              .row
                .b-item__header.col-xs-12
                  h6.s6-heading.b-item__ttl-header You may also like
                article.c-box.col-xs-12.col-sm-6
                  .c-box__inner
                    .c-box__cont
                      h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                      hr.hr-pattern
                      p.c-box__txt Stay B, Andrew Feeling, Someone Else
                    .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_12_Retina.jpg")
                    .c-box__date-item
                      time.date.c-box__date(datetime="2009-08-29T20:00")
                        span.date__dt 23
                        span.date__rh
                          span.date__rh-m sept
                          span.date__rh-d Mon
                        span.date__ad 8:00 pm
                    .c-box__link-wrap
                      .btn-pointer__wrap.
                        <a class="btn btn-pointer" href="#"><span class="btn-pointer__txt">More</span></a>
                        <svg version="1.1" class="btn-pointer__left" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve"><style type="text/css">
                        .st0{fill:#A82743;}</style>
                        <path class="st0" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                    a(href="#" rel="nofollow").b-box__link
                article.c-box.col-xs-12.col-sm-6
                  .c-box__inner
                    .c-box__cont
                      h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                      hr.hr-pattern
                      p.c-box__txt Stay B, Andrew Feeling, Someone Else
                    .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_10_Retina.jpg")
                    .c-box__date-item
                      time.date.c-box__date(datetime="2009-08-29T20:00")
                        span.date__dt 23
                        span.date__rh
                          span.date__rh-m sept
                          span.date__rh-d Mon
                        span.date__ad 8:00 pm
                    .c-box__link-wrap
                      .btn-pointer__wrap.
                        <a class="btn btn-pointer" href="#"><span class="btn-pointer__txt">More</span></a>
                        <svg version="1.1" class="btn-pointer__left" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve"><style type="text/css">
                        .st0{fill:#A82743;}</style>
                        <path class="st0" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                    a(href="#" rel="nofollow").b-box__link
      include components/footer
    include components/scripts
