doctype html
include components/head
    body
        .wrap
            include components/header
            main
                .container
                    a.btn(href="#") Button

        include components/footer
        include components/scripts


