doctype html
include components/head
  body
    .wrap
      include components/header
      main
        .container
          .table-responsive
            table.table
              thead
                tr
                  th Disabled
                  th Active
                  th CSS class
                  th Descrption
              tbody
                tr
                  td
                    a.btn(href="#") More events
                  td
                    a.btn(href="#", disabled="disabled") More events
                  td
                    b .btn
                  td Standart button
                tr
                  td
                    a.btn.btn-icon.btn-icon--plus(href="#") More events
                  td
                    a.btn.btn-icon.btn-icon--plus(href="#", disabled="disabled") More events
                  td
                    b .btn
                  td Standart button
                tr
                  td
                    a.btn-icon.btn-icon--plus(href="#")
                  td
                    a.btn-icon.btn-icon--plus(href="#", disabled="disabled")
                  td
                    b .btn
                  td Standart button
                tr
                  td
                    a.btn-icon.btn-icon--refresh(href="#")
                  td
                    a.btn-icon.btn-icon--refresh(href="#", disabled="disabled")
                  td
                    b .btn
                  td Standart button
                tr
                  td
                    time.date(datetime="2009-08-29")
                      span.date__dt 23
                      span.date__rh
                        span.date__rh-m sept
                        span.date__rh-d Mon

                  td
                    time.date(datetime="2009-08-29")
                      span.date__dt 23
                      span.date__rh
                        span.date__rh-m sept
                        span.date__rh-d Mon
                  td
                    b .btn
                  td Standart button
    include components/footer
    include components/scripts


