doctype html
html(lang='en')
  include components/head
  body
    .wrap
      include components/header
      main
        .container
          h1  Standart buttons
          a.btn(href="#") More events
          h1  Standart small buttons
          a.btn.btn--mini(href="#") More events
          h1  Standart icon buttons
          a.btn-icon.btn-icon--plus(href="#")
          a.btn-icon.btn-icon--refresh(href="#")
          h1  Standart small icon buttons
          a.btn--mini.btn-icon.btn-icon--plus(href="#")
          a.btn--mini.btn-icon.btn-icon--refresh(href="#")
          h1  Standart buttons with icon
          a.btn.btn-icon.btn-icon--plus(href="#") More events
          h1 Date label
          time.date(datetime="2009-08-29")
            span.date__dt 23
            span.date__rh
              span.date__rh-m sept
              span.date__rh-d Mon
          h1 Date label additional
          time.date(datetime="2009-08-29 20:00")
            span.date__dt 23
            span.date__rh
              span.date__rh-m sept
              span.date__rh-d Mon
            span.date__ad 8:00 pm

      include components/footer
    include components/scripts


