doctype html
html(lang='en')
  include components/head
  body
    .wrap
      include components/header
      .b-headlines
        .container
          .b-breadcrumbs
            ul.b-breadcrumbs__list.x-small-txt
              li: a.link(href="index.html") main
              li Gallery
          h1.b-headlines__ttl Gallery
      .b-content.container
        main.b-main
          #masnrGallery.b-gallery-wrap.row
            .grid-sizer
            .c-box.c-box--lg.col-xs-12.col-md-8.col-lg-6
              .c-box__inner
                .c-box__cont
                  h2.c-box__ttl-s2 TRAP  ONLY. best records plus fit
                  hr.hr-pattern
                  p.c-box__txt.c-box__txt--display Stay B, Andrew Feeling, Someone Else
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_02_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date.c-box__date.c-box__date--lg(datetime="2009-08-29T20:00")
                    span.date__dt 23
                    span.date__rh
                      span.date__rh-m sept
                      span.date__rh-d 2014
                .c-box__link-wrap.c-box__link-wrap--indent
                  .btn-pointer__wrap.
                    <a class="btn btn-pointer__sm btn-anim-a" href="#"><b>open event & Gallery</b></a>
                    <svg version="1.1" class="btn-pointer__left" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve"><style type="text/css">
                    .st0{fill:#A82743;}</style>
                    <path class="st0" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2

            .c-box.c-box--sm.col-xs-12.col-xm-6.col-md-4.col-lg-3
              .c-box__inner
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_02_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                    span.date-sm__dt 23
                    span.date-sm__rh
                      span.date-sm__rh-m sept
                      span.date-sm__rh-d 2014
                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2
                a(href="#" rel="nofollow").b-box__link
              .c-box__link-wrap-a
                a.c-box__link(href="#") Californication nights
            .c-box.c-box--sm.col-xs-12.col-xm-6.col-md-4.col-lg-3
              .c-box__inner
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_05_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                    span.date-sm__dt 23
                    span.date-sm__rh
                      span.date-sm__rh-m sept
                      span.date-sm__rh-d 2014
                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2
                a(href="#" rel="nofollow").b-box__link
              .c-box__link-wrap-a
                a.c-box__link(href="#") Mash up your heads: christmas night
            .c-box.c-box--sm.col-xs-12.col-xm-6.col-md-4.col-lg-3
              .c-box__inner
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_05_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                    span.date-sm__dt 23
                    span.date-sm__rh
                      span.date-sm__rh-m sept
                      span.date-sm__rh-d 2014
                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2
                a(href="#" rel="nofollow").b-box__link
              .c-box__link-wrap-a
                a.c-box__link(href="#") Mash up your heads: christmas night mash up your heads: christmas night

            .c-box.c-box--sm.col-xs-12.col-xm-6.col-md-4.col-lg-3
              .c-box__inner
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_05_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                    span.date-sm__dt 23
                    span.date-sm__rh
                      span.date-sm__rh-m sept
                      span.date-sm__rh-d 2014
                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2
                a(href="#" rel="nofollow").b-box__link
              .c-box__link-wrap-a
                a.c-box__link(href="#") Mash up your heads: christmas night mash up your heads: christmas night

            .c-box.c-box--sm.col-xs-12.col-xm-6.col-md-4.col-lg-3
              .c-box__inner
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_07_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                    span.date-sm__dt 23
                    span.date-sm__rh
                      span.date-sm__rh-m sept
                      span.date-sm__rh-d 2014
                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2
                a(href="#" rel="nofollow").b-box__link
              .c-box__link-wrap-a
                a.c-box__link(href="#") Mash up your heads: christmas night

            .c-box.c-box--sm.col-xs-12.col-xm-6.col-md-4.col-lg-3
              .c-box__inner
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_05_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                    span.date-sm__dt 23
                    span.date-sm__rh
                      span.date-sm__rh-m sept
                      span.date-sm__rh-d 2014
                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2
                a(href="#" rel="nofollow").b-box__link
              .c-box__link-wrap-a
                a.c-box__link(href="#") Mash up your heads: christmas night mash up your heads: christmas night

            .c-box.c-box--sm.col-xs-12.col-xm-6.col-md-4.col-lg-3
              .c-box__inner
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_03_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                    span.date-sm__dt 23
                    span.date-sm__rh
                      span.date-sm__rh-m sept
                      span.date-sm__rh-d 2014
                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2
                a(href="#" rel="nofollow").b-box__link
              .c-box__link-wrap-a
                a.c-box__link(href="#") Christmas night

            .c-box.c-box--sm.col-xs-12.col-xm-6.col-md-4.col-lg-3
              .c-box__inner
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_01_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                    span.date-sm__dt 23
                    span.date-sm__rh
                      span.date-sm__rh-m sept
                      span.date-sm__rh-d 2014
                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2
                a(href="#" rel="nofollow").b-box__link
              .c-box__link-wrap-a
                a.c-box__link(href="#") Mash up your heads: christmas night mash up your heads: christmas night

            .c-box.c-box--sm.col-xs-12.col-xm-6.col-md-4.col-lg-3
              .c-box__inner
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_05_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                    span.date-sm__dt 23
                    span.date-sm__rh
                      span.date-sm__rh-m sept
                      span.date-sm__rh-d 2014
                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2
                a(href="#" rel="nofollow").b-box__link
              .c-box__link-wrap-a
                a.c-box__link(href="#") Mash up your heads: christmas night mash up your heads: christmas night

            .c-box.c-box--sm.col-xs-12.col-xm-6.col-md-4.col-lg-3
              .c-box__inner
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_05_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                    span.date-sm__dt 23
                    span.date-sm__rh
                      span.date-sm__rh-m sept
                      span.date-sm__rh-d 2014
                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2
                a(href="#" rel="nofollow").b-box__link
              .c-box__link-wrap-a
                a.c-box__link(href="#") Mash up your heads: christmas night mash up your heads: christmas night

            .c-box.c-box--sm.col-xs-12.col-xm-6.col-md-4.col-lg-3
              .c-box__inner
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_07_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                    span.date-sm__dt 23
                    span.date-sm__rh
                      span.date-sm__rh-m sept
                      span.date-sm__rh-d 2014
                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2
                a(href="#" rel="nofollow").b-box__link
              .c-box__link-wrap-a
                a.c-box__link(href="#") Mash up your heads: christmas night

            .c-box.c-box--sm.col-xs-12.col-xm-6.col-md-4.col-lg-3
              .c-box__inner
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_05_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                    span.date-sm__dt 23
                    span.date-sm__rh
                      span.date-sm__rh-m sept
                      span.date-sm__rh-d 2014
                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2
                a(href="#" rel="nofollow").b-box__link
              .c-box__link-wrap-a
                a.c-box__link(href="#") Mash up your heads: christmas night mash up your heads: christmas night

            .c-box.c-box--sm.col-xs-12.col-xm-6.col-md-4.col-lg-3
              .c-box__inner
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_03_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                    span.date-sm__dt 23
                    span.date-sm__rh
                      span.date-sm__rh-m sept
                      span.date-sm__rh-d 2014
                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2
                a(href="#" rel="nofollow").b-box__link
              .c-box__link-wrap-a
                a.c-box__link(href="#") Christmas night

            .c-box.c-box--sm.col-xs-12.col-xm-6.col-md-4.col-lg-3
              .c-box__inner
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_01_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                    span.date-sm__dt 23
                    span.date-sm__rh
                      span.date-sm__rh-m sept
                      span.date-sm__rh-d 2014
                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2
                a(href="#" rel="nofollow").b-box__link
              .c-box__link-wrap-a
                a.c-box__link(href="#") Mash up your heads

            .c-box.c-box--sm.col-xs-12.col-xm-6.col-md-4.col-lg-3
              .c-box__inner
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_07_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                    span.date-sm__dt 23
                    span.date-sm__rh
                      span.date-sm__rh-m sept
                      span.date-sm__rh-d 2014
                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2
                a(href="#" rel="nofollow").b-box__link
              .c-box__link-wrap-a
                a.c-box__link(href="#") Mash up your heads: christmas night

            .c-box.c-box--sm.col-xs-12.col-xm-6.col-md-4.col-lg-3
              .c-box__inner
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_05_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                    span.date-sm__dt 23
                    span.date-sm__rh
                      span.date-sm__rh-m sept
                      span.date-sm__rh-d 2014
                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2
                a(href="#" rel="nofollow").b-box__link
              .c-box__link-wrap-a
                a.c-box__link(href="#") Mash up your heads: christmas night mash up your heads: christmas night

            .c-box.c-box--sm.col-xs-12.col-xm-6.col-md-4.col-lg-3
              .c-box__inner
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_07_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                    span.date-sm__dt 23
                    span.date-sm__rh
                      span.date-sm__rh-m sept
                      span.date-sm__rh-d 2014
                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2
                a(href="#" rel="nofollow").b-box__link
              .c-box__link-wrap-a
                a.c-box__link(href="#") Mash up your heads: christmas night

            .c-box.c-box--sm.col-xs-12.col-xm-6.col-md-4.col-lg-3
              .c-box__inner
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_07_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                    span.date-sm__dt 23
                    span.date-sm__rh
                      span.date-sm__rh-m sept
                      span.date-sm__rh-d 2014
                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2
                a(href="#" rel="nofollow").b-box__link
              .c-box__link-wrap-a
                a.c-box__link(href="#") Mash up your heads: christmas night

            .c-box.c-box--sm.col-xs-12.col-xm-6.col-md-4.col-lg-3
              .c-box__inner
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_03_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                    span.date-sm__dt 23
                    span.date-sm__rh
                      span.date-sm__rh-m sept
                      span.date-sm__rh-d 2014
                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2
                a(href="#" rel="nofollow").b-box__link
              .c-box__link-wrap-a
                a.c-box__link(href="#") Mash up your heads: christmas night

          .b-box__btn-wrap
            button#btnMore.btn.btn-icon.btn-icon--plus More blogs
      include components/footer
    include components/scripts
