doctype html
html(lang='en')
  include components/head
  body
    .wrap
      include components/header
      .b-headlines
        .container
          .b-breadcrumbs
            ul.b-breadcrumbs__list.x-small-txt
              li: a.link(href="index.html") main
              li Responsive Columns
          h1.b-headlines__ttl Responsive Columns

      .b-content.container
        .row
          .b-grid
            .col-xs-12
              .b-item__header
                h6.s6-heading.b-item__ttl-header Full width
              include parts/textDonec

          .b-grid
            .col-xs-12.col-sm-6
              .b-item__header
                h6.s6-heading.b-item__ttl-header Half Width
              p.
                Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
                Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.

            .col-xs-12.col-sm-6
              .b-item__header
                h6.s6-heading.b-item__ttl-header Half Width (last)
              p.
                Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
                Nullam id dolor id nibh ultricies vehicula ut id elit.
                Integer posuere erat a ante venenatis dapibus posuere velit aliquet.

          .b-grid
            .col-xs-12.col-sm-8
              .b-item__header
                h6.s6-heading.b-item__ttl-header 2/3 width
              p
                | Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
                | Nullam id dolor id nibh ultricies vehicula ut id elit.
                | Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                | Duis mollis, est non commodo luctus. Aenean lacinia bibendum nulla sed consectetur.
                | Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus.
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.

            .col-xs-12.col-sm-4
              .b-item__header
                h6.s6-heading.b-item__ttl-header 1/3 width (Last)
              p
                | Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
                | Nullam id dolor id nibh ultricies vehicula ut id elit.
                | Integer posuere erat a ante venenatis dapibus posuere velit aliquet.

          .b-grid
            .col-xs-12.col-sm-3
              .b-item__header
                h6.s6-heading.b-item__ttl-header 1/4 Width
              p
                | Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
                | Nullam id dolor id nibh ultricies vehicula ut id elit.
                | Integer posuere erat a ante venenatis dapibus posuere velit aliquet.

            .col-xs-12.col-sm-9
              .b-item__header
                h6.s6-heading.b-item__ttl-header 3/4 Width (Last)
              p
                | Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
                | Nullam id dolor id nibh ultricies vehicula ut id elit.
                | Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                | Duis mollis, est non commodo luctus. Aenean lacinia bibendum nulla sed consectetur.
                | Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus.
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.

          .b-grid
            .col-xs-12.col-xm-6.col-sm-4.col-md-2
              .b-item__header
                h6.s6-heading.b-item__ttl-header 1/6 Width
              p
                | Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
                | Nullam id dolor id nibh ultricies vehicula ut id elit.
                | Integer posuere erat a ante venenatis dapibus posuere velit aliquet.

            .col-xs-12.col-xm-6.col-sm-4.col-md-2
              .b-item__header
                h6.s6-heading.b-item__ttl-header 1/6 Width
              p
                | Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
                | Nullam id dolor id nibh ultricies vehicula ut id elit.
                | Integer posuere erat a ante venenatis dapibus posuere velit aliquet.

            .col-xs-12.col-xm-6.col-sm-4.col-md-2
              .b-item__header
                h6.s6-heading.b-item__ttl-header 1/6 Width
              p
                | Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
                | Nullam id dolor id nibh ultricies vehicula ut id elit.
                | Integer posuere erat a ante venenatis dapibus posuere velit aliquet.

            .col-xs-12.col-xm-6.col-sm-4.col-md-2
              .b-item__header
                h6.s6-heading.b-item__ttl-header 1/6 Width
              p
                | Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
                | Nullam id dolor id nibh ultricies vehicula ut id elit.
                | Integer posuere erat a ante venenatis dapibus posuere velit aliquet.

            .col-xs-12.col-xm-6.col-sm-4.col-md-2
              .b-item__header
                h6.s6-heading.b-item__ttl-header 1/6 Width
              p
                | Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
                | Nullam id dolor id nibh ultricies vehicula ut id elit.
                | Integer posuere erat a ante venenatis dapibus posuere velit aliquet.

            .col-xs-12.col-xm-6.col-sm-4.col-md-2
              .b-item__header
                h6.s6-heading.b-item__ttl-header 1/6 Width (Last)
              p
                | Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
                | Nullam id dolor id nibh ultricies vehicula ut id elit.
                | Integer posuere erat a ante venenatis dapibus posuere velit aliquet.

          .b-grid
            .col-xs-12.col-sm-6.col-md-2
              .b-item__header
                h6.s6-heading.b-item__ttl-header 1/6 Width
              p
                | Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
                | Nullam id dolor id nibh ultricies vehicula ut id elit.

            .col-xs-12.col-sm-6.col-md-10
              .b-item__header
                h6.s6-heading.b-item__ttl-header 5/6 Width (last)
              p
                | Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
                | Nullam id dolor id nibh ultricies vehicula ut id elit.
                | Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                | Integer posuere erat a ante venenatis dapibus posuere velit aliquet.



      include components/footer
    include components/scripts