doctype html
html(lang='en')
  include components/head
  body
    .wrap
      include components/header
      .b-promo
        .container
          h2.b-promo__s2-ttl We happily announce our new dancehall "Rivierra" with two bars
          p.
            But still, we love to roll loud dancing until dawn, and then to "crawl" on the body,
            remember proschedshem evente perekrik and share emotions we experienced some time ago.

          a(href="#").btn-pointer-b.
            <svg class="left" x="0px" y="0px" viewBox="0 0 5 50" enable-background="new 0 0 5 50" xml:space="preserve">
            <path fill="#000000" width="5px" height="50px" d="M5.0001,49.0002H0V33.8014l4.4054-4.4053L0,24.9905v-0.9612l4.4054-4.4051L0,15.2184V0h5.0001V49.0002z"/>
            </svg>

            Watch Promo Live

            <svg class="right" x="0px" y="0px" viewBox="0 0 5 50" enable-background="new 0 0 5 50" xml:space="preserve">
            <path fill="#000000" width="5px" height="40px" d="M0,0l5.0001,0v15.1988l-4.4054,4.4053l4.4054,4.4056v0.9612L0.5947,29.376l4.4054,4.4058v15.2184H0L0,0z"/>
            </svg>

      .b-events.container
        .row
          .b-tabs.col-lg-8
            h6.s6-heading Top events
            ul.b-tabs__nav.b-tabs__nav-tabs(role="tablist")
              li.active(role="presentation"): a(href="#block-a", aria-controls="block-a", role="tab", data-toggle="tab")
              li(role="presentation"): a(href="#block-b", aria-controls="block-b", role="tab", data-toggle="tab")
            .b-tabs__content
              #block-a.b-tabs__pane.fade.in.active.row(role="tabpanel")
                .b-tabs__pane-item.col-sm-6
                  article.c-box
                    .c-box__inner
                      h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                      .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_12_Retina.jpg")
                      .c-box__date-item
                        time.date.c-box__date(datetime="2009-08-29T20:00")
                          span.date__dt 23
                          span.date__rh
                            span.date__rh-m sept
                            span.date__rh-d Mon
                          span.date__ad 8:00 pm
                      hr.hr-pattern
                      p.c-box__txt Stay B, Andrew Feeling, Someone Else
                      .c-box__link-wrap
                        a.btn.btn-pointer(href="#")
                          | <svg class="c-box__svg-angle" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                          | width="5px" height="50px" viewBox="0 0 5 50" enable-background="new 0 0 5 50" xml:space="preserve"><path fill-rule="evenodd" fill="#A82743" d="M0.007,49.9996l4.9919-4.9915l-4.9973-4.9975L0,40.0122v-0.0088l0.0016,0.0016
                          | l4.9973-4.9969l-4.9973-4.9975L0,30.0122v-0.0088l0.0016,0.0016l4.9973-4.9969l-4.9973-4.9975L0,20.0122v-0.0088l0.0016,0.0016
                          | l4.9973-4.9969l-4.9973-4.9975L0,10.0122v-0.0088l0.0016,0.0016l4.9973-4.9969L0.0016,0.0106L0,0.0122V0h5v49.9996H0.007z"/></svg>
                          | More
                      a(href="#" rel="nofollow").b-box__link

                .b-tabs__pane-item.col-sm-6
                  article.c-box
                    .c-box__inner
                      h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                      .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_12_Retina.jpg")
                      .c-box__date-item
                        time.date.c-box__date(datetime="2009-08-29T20:00")
                          span.date__dt 23
                          span.date__rh
                            span.date__rh-m sept
                            span.date__rh-d Mon
                          span.date__ad 8:00 pm
                      hr.hr-pattern
                      p.c-box__txt Stay B, Andrew Feeling, Someone Else
                      .c-box__link-wrap
                        a.btn.btn-pointer(href="#")
                          | <svg class="c-box__svg-angle" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                          | width="5px" height="50px" viewBox="0 0 5 50" enable-background="new 0 0 5 50" xml:space="preserve"><path fill-rule="evenodd" fill="#A82743" d="M0.007,49.9996l4.9919-4.9915l-4.9973-4.9975L0,40.0122v-0.0088l0.0016,0.0016
                          | l4.9973-4.9969l-4.9973-4.9975L0,30.0122v-0.0088l0.0016,0.0016l4.9973-4.9969l-4.9973-4.9975L0,20.0122v-0.0088l0.0016,0.0016
                          | l4.9973-4.9969l-4.9973-4.9975L0,10.0122v-0.0088l0.0016,0.0016l4.9973-4.9969L0.0016,0.0106L0,0.0122V0h5v49.9996H0.007z"/></svg>
                          | More
                      a(href="#" rel="nofollow").b-box__link
                .b-tabs__pane-item.col-sm-6
                  article.c-box
                    .c-box__inner
                      h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                      .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_12_Retina.jpg")
                      .c-box__date-item
                        time.date.c-box__date(datetime="2009-08-29T20:00")
                          span.date__dt 23
                          span.date__rh
                            span.date__rh-m sept
                            span.date__rh-d Mon
                          span.date__ad 8:00 pm
                      hr.hr-pattern
                      p.c-box__txt Stay B, Andrew Feeling, Someone Else
                      .c-box__link-wrap
                        a.btn.btn-pointer(href="#")
                          | <svg class="c-box__svg-angle" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                          | width="5px" height="50px" viewBox="0 0 5 50" enable-background="new 0 0 5 50" xml:space="preserve"><path fill-rule="evenodd" fill="#A82743" d="M0.007,49.9996l4.9919-4.9915l-4.9973-4.9975L0,40.0122v-0.0088l0.0016,0.0016
                          | l4.9973-4.9969l-4.9973-4.9975L0,30.0122v-0.0088l0.0016,0.0016l4.9973-4.9969l-4.9973-4.9975L0,20.0122v-0.0088l0.0016,0.0016
                          | l4.9973-4.9969l-4.9973-4.9975L0,10.0122v-0.0088l0.0016,0.0016l4.9973-4.9969L0.0016,0.0106L0,0.0122V0h5v49.9996H0.007z"/></svg>
                          | More
                      a(href="#" rel="nofollow").b-box__link
                .b-tabs__pane-item.col-sm-6
                  article.c-box
                    .c-box__inner
                      h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                      .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_12_Retina.jpg")
                      .c-box__date-item
                        time.date.c-box__date(datetime="2009-08-29T20:00")
                          span.date__dt 23
                          span.date__rh
                            span.date__rh-m sept
                            span.date__rh-d Mon
                          span.date__ad 8:00 pm
                      hr.hr-pattern
                      p.c-box__txt Stay B, Andrew Feeling, Someone Else
                      .c-box__link-wrap
                        a.btn.btn-pointer(href="#")
                          | <svg class="c-box__svg-angle" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                          | width="5px" height="50px" viewBox="0 0 5 50" enable-background="new 0 0 5 50" xml:space="preserve"><path fill-rule="evenodd" fill="#A82743" d="M0.007,49.9996l4.9919-4.9915l-4.9973-4.9975L0,40.0122v-0.0088l0.0016,0.0016
                          | l4.9973-4.9969l-4.9973-4.9975L0,30.0122v-0.0088l0.0016,0.0016l4.9973-4.9969l-4.9973-4.9975L0,20.0122v-0.0088l0.0016,0.0016
                          | l4.9973-4.9969l-4.9973-4.9975L0,10.0122v-0.0088l0.0016,0.0016l4.9973-4.9969L0.0016,0.0106L0,0.0122V0h5v49.9996H0.007z"/></svg>
                          | More
                      a(href="#" rel="nofollow").b-box__link

                .b-box__btn-wrap
                  button#btnMore.btn.btn-icon.btn-icon--plus More blogs
              #block-b.b-tabs__pane.fade.in(role="tabpanel")
                .b-tabs__pane-item.col-xs-12
                .b-tabs__pane-item.col-xs-12
                .b-tabs__pane-item.col-xs-12
                  include parts/textLorem
                .b-tabs__pane-item.col-xs-12
                  include parts/textLorem

          aside.b-aside.col-xs-12.col-lg-4
            .row
              .b-aside-item.col-xs-12.col-sm-6.col-lg-12
                .b-item__header
                  h6.s6-heading.b-item__ttl-header Last video
                  a.btn--mini.btn-icon.btn-icon--refresh(href="#")
                .b-video-item__iframe-md
                  iframe(src="https://player.vimeo.com/video/140230038?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
                h6.s6-heading We happily announce our new dancehall "Rivierra" with two
                p.small-txt.
                  But still, we love to roll loud dancing until dawn, and then to "crawl" on the body, remember
                   proschedshem evente perekrik and share emotions we experienced some

              .b-aside-item.col-xs-12.col-sm-6.col-lg-12
                .b-item__header
                  h6.s6-heading.b-item__ttl-header Blog
                  a.btn.btn--mini(href="#") More
                .b-box.b-box-sm.b-box--clr-b
                  .b-box__img-wrap.bg-image(data-bgimage="../uploads/blog/Blog_01_Retina.jpg")
                  .b-box__date
                    time(datetime="2015-05-25T14:44") may 25, 14:44
                  .b-box__txt.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  a(href="#").b-box__link
                .b-box.b-box-sm.b-box--clr-b
                  .b-box__img-wrap.bg-image(data-bgimage="../uploads/blog/Blog_02_Retina.jpg")
                  .b-box__date
                    time(datetime="2015-05-25T14:44") may 25, 14:44
                  .b-box__txt.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  a(href="#").b-box__link
                .b-box.b-box-sm.b-box--clr-a
                  .b-box__date
                    time(datetime="2015-05-25T14:44") may 25, 14:44
                  .b-box__txt.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  a(href="#").b-box__link
      include components/footer
    include components/scripts


