doctype html
html(lang='en')
  include components/head
  body
    .wrap
      include components/header
      .main-slide
        .main-slide__btn-item
        .main-slide__slider#sliderMain

          .main-slide__item-a
            .main-slide__img-wrap.bg-image(data-bgimage="../uploads/gallery/Gallery_19_Original.jpg")
            .container
              .main-slide__item-inr
                h1.main-slide__s1-ttl.main-slide__s1-ttl--indent FRIENDS Private House Party
                .main-slide__date-wrap
                  time(datetime="2015-09-23T08:00").date-lg
                    span.date-lg__dt 23
                    span.date-lg__rh
                      span.date-lg__rh-m september 2015
                      span.date-lg__rh-d Mon
                      span.date-lg__rh-t 8:00 am
                hr.hr-pattern
                h2.main-slide__s2-ttl Stay B, Andrew Feeling, Someone Else
                p.
                  But still, we love to roll loud dancing until dawn, and then to "crawl" on
                  the body, remember proschedshem evente perekrik and share emotions we
                  experienced some time ago.
                .main-slide__footer
                  ul.b-likes.b-likes--wht.b-likes--indent
                    li.b-likes__pinterest-p.
                      <span>457
                      <svg x="0px" y="0px" viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                    li.b-likes__google-plus.
                      <span>457
                      <svg x="0px" y="0px" viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                    li.b-likes__twitter.
                      <span>457
                      <svg x="0px" y="0px" viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                    li.b-likes__facebook.
                      <span>1.45K
                      <svg x="0px" y="0px" viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>

                  .main-slide__link-wrap
                    a.btn.btn-info.btn-anim-a(href="event-open.html")
                      | <span>free</span>
                      | <span><svg x="0px" y="0px"
                      | viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                      | <path class="st0" fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                      |  <b>read more</b></span>

          .main-slide__item-b
            .main-slide__bg-wrap.bg-grdnt
            .container
              .main-slide__item-inr
                h1.main-slide__s1-ttl FRIENDS Private House Party
                hr.hr-pattern
                h2.main-slide__s2-ttl Stay B, Andrew Feeling, Someone Else
                p.
                  But still, we love to roll loud dancing until dawn, and then to "crawl" on
                  the body, remember proschedshem evente perekrik and share emotions we
                  experienced some time ago.
                .main-slide__footer
                  ul.b-likes.b-likes--wht
                    li.b-likes__pinterest-p.
                      <span>457
                      <svg x="0px" y="0px" viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                    li.b-likes__google-plus.
                      <span>457
                      <svg x="0px" y="0px" viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                    li.b-likes__twitter.
                      <span>457
                      <svg x="0px" y="0px" viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                    li.b-likes__facebook.
                      <span>1.45K
                      <svg x="0px" y="0px" viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                  .main-slide__link-wrap
                    .btn-pointer__wrap.
                      <a class="btn btn-pointer btn-pointer--lg btn-anim-a" href="event-open.html"><b>More</b></a>
                      <svg class="btn-pointer__left" x="0px" y="0px" viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                      <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

      .b-promo
        .container
          h2.b-promo__s2-ttl We happily announce our new dancehall "Rivierra" with two bars
          p.
            But still, we love to roll loud dancing until dawn, and then to "crawl" on the body,
            remember proschedshem evente perekrik and share emotions we experienced some time ago.

          .btn-pointer-b__wrap.
            <a href="#" class="btn-pointer-b btn-anim-b"><b>Watch Promo Live</b></a>
            <svg class="left" x="0px" y="0px" viewBox="0 0 5 50" enable-background="new 0 0 5 50" xml:space="preserve">
            <path fill="#000000" d="M5.0001,49.0002H0V33.8014l4.4054-4.4053L0,24.9905v-0.9612l4.4054-4.4051L0,15.2184V0h5.0001V49.0002z"/>
            </svg>

            <svg class="right" x="0px" y="0px" viewBox="0 0 5 50" enable-background="new 0 0 5 50" xml:space="preserve">
            <path fill="#000000" d="M0,0l5.0001,0v15.1988l-4.4054,4.4053l4.4054,4.4056v0.9612L0.5947,29.376l4.4054,4.4058v15.2184H0L0,0z"/>
            </svg>

      include components/footer
    include components/scripts
