doctype html
html(lang='en')
  include components/head
  body
    .wrap
      include components/headerLanding
        block menu
          include components/innerNavigation
      .main-slide
        .main-slide__btn-item
        .main-slide__slider#sliderMain

          .main-slide__item-a
            .main-slide__img-wrap.bg-image(data-bgimage="../uploads/gallery/Gallery_19_Original.jpg")
            .container
              .main-slide__item-inr
                h1.main-slide__s1-ttl.main-slide__s1-ttl--indent FRIENDS Private House Party
                .main-slide__date-wrap
                  time(datetime="2015-09-23T08:00").date-lg
                    span.date-lg__dt 23
                    span.date-lg__rh
                      span.date-lg__rh-m september 2015
                      span.date-lg__rh-d Mon
                      span.date-lg__rh-t 8:00 am
                hr.hr-pattern
                h2.main-slide__s2-ttl Stay B, Andrew Feeling, Someone Else
                p.
                  But still, we love to roll loud dancing until dawn, and then to "crawl" on
                  the body, remember proschedshem evente perekrik and share emotions we
                  experienced some time ago.
                .main-slide__footer
                  ul.b-likes.b-likes--wht.b-likes--indent
                    li.b-likes__pinterest-p.
                      <span>457
                      <svg x="0px" y="0px" viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                    li.b-likes__google-plus.
                      <span>457
                      <svg x="0px" y="0px" viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                    li.b-likes__twitter.
                      <span>457
                      <svg x="0px" y="0px" viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                    li.b-likes__facebook.
                      <span>1.45K
                      <svg x="0px" y="0px" viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>

                  .main-slide__link-wrap
                    a.btn.btn-info.btn-anim-a(href="event-open.html")
                      | <span>free</span>
                      | <span><svg x="0px" y="0px"
                      | viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                      | <path class="st0" fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                      |  <b>read more</b></span>

          .main-slide__item-b
            .main-slide__bg-wrap.bg-grdnt
            .container
              .main-slide__item-inr
                h1.main-slide__s1-ttl FRIENDS Private House Party
                hr.hr-pattern
                h2.main-slide__s2-ttl Stay B, Andrew Feeling, Someone Else
                p.
                  But still, we love to roll loud dancing until dawn, and then to "crawl" on
                  the body, remember proschedshem evente perekrik and share emotions we
                  experienced some time ago.
                .main-slide__footer
                  ul.b-likes.b-likes--wht
                    li.b-likes__pinterest-p.
                      <span>457
                      <svg x="0px" y="0px" viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                    li.b-likes__google-plus.
                      <span>457
                      <svg x="0px" y="0px" viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                    li.b-likes__twitter.
                      <span>457
                      <svg x="0px" y="0px" viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                    li.b-likes__facebook.
                      <span>1.45K
                      <svg x="0px" y="0px" viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                  .main-slide__link-wrap
                    .btn-pointer__wrap.
                      <a class="btn btn-pointer btn-pointer--lg btn-anim-a" href="event-open.html"><b>More</b></a>
                      <svg class="btn-pointer__left" x="0px" y="0px" viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                      <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

      .b-content.container
        main.b-main
          .b-box-wrap
            .row
              ul.b-tabs__nav.b-tabs__nav-tabs.b-tabs__nav-tabs--center(role="tablist")
                li.active(role="presentation")
                  a(href="#block-a", aria-controls="block-a", role="tab", data-toggle="tab").
                    <svg baseProfile="tiny" width="10" height="10" x="0px" y="0px" viewBox="0 0 10 10" xml:space="preserve">
                    <path fill="#231F20" d="M0,4h4V0H0V4z M6,0v4h4V0H6z M0,10h4V6H0V10z M6,10h4V6H6V10z"/>
                    </svg>
                li(role="presentation")
                  a(href="#block-b", aria-controls="block-b", role="tab", data-toggle="tab").
                    <svg baseProfile="tiny" width="10" height="10" x="0px" y="0px" viewBox="0 0 10 10" xml:space="preserve">
                    <path fill="#231F20" d="M0,0v4h10V0H0z M10,10V6H0v4H10z"/>
                    </svg>
            .b-tabs__content
              #block-a.b-tabs__pane.fade.in.active.row(role="tabpanel")
                  .b-tabs__pane-item.col-sm-6.col-md-4
                    .c-box
                      .c-box__inner
                        .c-box__cont
                          h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                          hr.hr-pattern
                          p.c-box__txt Stay B, Andrew Feeling, Someone Else
                        .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_01_Retina.jpg")
                        .c-box__date-item
                          time.date.c-box__date(datetime="2016-09-23T20:00")
                            span.date__dt 23
                            span.date__rh
                              span.date__rh-m sept
                              span.date__rh-d Mon
                            span.date__ad 8:00 pm
                        .c-box__link-wrap
                          .btn-pointer__wrap.
                            <a class="btn btn-pointer" href="event-open.html"><span class="btn-pointer__txt">More</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px" viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                        a(href="event-open.html" rel="nofollow").b-box__link

                  .b-tabs__pane-item.col-sm-6.col-md-4
                    .c-box
                      .c-box__inner
                        .c-box__cont
                          h3.c-box__ttl-s3 St. Patrick’s Day in New York
                          hr.hr-pattern
                          p.c-box__txt Cruachan, Lunasa, Flook, McGoldrick's band
                        .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_02_Retina.jpg")
                        .c-box__date-item
                          time.date.c-box__date(datetime="2016-09-24T20:00")
                            span.date__dt 24
                            span.date__rh
                              span.date__rh-m sept
                              span.date__rh-d Mon
                            span.date__ad 10:00 pm
                        .c-box__link-wrap
                          .btn-pointer__wrap.
                            <a class="btn btn-pointer" href="event-open.html"><span class="btn-pointer__txt">More</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px" viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                        a(href="event-open.html" rel="nofollow").b-box__link

                  .b-tabs__pane-item.col-sm-6.col-md-4
                    .c-box
                      .c-box__inner
                        .c-box__cont
                          h3.c-box__ttl-s3 American Decorative Arts
                          hr.hr-pattern
                          p.c-box__txt Fifth Avenue
                        .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_03_Retina.jpg")
                        .c-box__date-item
                          time.date.c-box__date(datetime="2016-09-25T20:00")
                            span.date__dt 25
                            span.date__rh
                              span.date__rh-m sept
                              span.date__rh-d Mon
                            span.date__ad 8:00 pm
                        .c-box__link-wrap
                          .btn-pointer__wrap.
                            <a class="btn btn-pointer" href="event-open.html"><span class="btn-pointer__txt">More</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px" viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                        a(href="event-open.html" rel="nofollow").b-box__link

                  .b-tabs__pane-item.col-sm-6.col-md-4
                    .c-box
                      .c-box__inner
                        .c-box__cont
                          h3.c-box__ttl-s3 Troye Sivan
                          hr.hr-pattern
                          p.c-box__txt Webster Hall
                        .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_04_Retina.jpg")
                        .c-box__date-item
                          time.date.c-box__date(datetime="2009-09-26T20:00")
                            span.date__dt 26
                            span.date__rh
                              span.date__rh-m sept
                              span.date__rh-d Mon
                            span.date__ad 8:00 pm
                        .c-box__link-wrap
                          .btn-pointer__wrap.
                            <a class="btn btn-pointer" href="event-open.html"><span class="btn-pointer__txt">More</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px" viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                        a(href="event-open.html" rel="nofollow").b-box__link

                  .b-tabs__pane-item.col-sm-6.col-md-4
                    .c-box
                      .c-box__inner
                        .c-box__cont
                          h3.c-box__ttl-s3 Maurice Hines Is Tappin' Thru Life
                          hr.hr-pattern
                          p.c-box__txt New World Stages: Stage 1
                        .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_05_Retina.jpg")
                        .c-box__date-item
                          time.date.c-box__date(datetime="2009-09-27T20:00")
                            span.date__dt 27
                            span.date__rh
                              span.date__rh-m sept
                              span.date__rh-d Mon
                            span.date__ad 8:00 pm
                        .c-box__link-wrap
                          .btn-pointer__wrap.
                            <a class="btn btn-pointer" href="event-open.html"><span class="btn-pointer__txt">More</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px" viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                        a(href="event-open.html" rel="nofollow").b-box__link

                  .b-tabs__pane-item.col-sm-6.col-md-4
                    .c-box
                      .c-box__inner
                        .c-box__cont
                          h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                          hr.hr-pattern
                          p.c-box__txt Stay B, Andrew Feeling, Someone Else
                        .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_06_Retina.jpg")
                        .c-box__date-item
                          time.date.c-box__date(datetime="2009-09-28T20:00")
                            span.date__dt 28
                            span.date__rh
                              span.date__rh-m sept
                              span.date__rh-d Mon
                            span.date__ad 8:00 pm
                        .c-box__link-wrap
                          .btn-pointer__wrap.
                            <a class="btn btn-pointer" href="event-open.html"><span class="btn-pointer__txt">More</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px" viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                        a(href="event-open.html" rel="nofollow").b-box__link
              #block-b.b-tabs__pane.fade.in.row(role="tabpanel")
                .b-tabs__pane-item.col-xs-12.col-lg-6
                  .c-box.c-box-v
                    .c-box__inner
                      .c-box__cont
                        h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                        p.c-box__txt.c-box__txt--display Stay B, Andrew Feeling, Someone Else
                      .c-box__date-item
                        time.date.c-box__date(datetime="2009-08-29T20:00")
                          span.date__dt 23
                          span.date__rh
                            span.date__rh-m sept
                            span.date__rh-d Mon
                          span.date__ad 8:00 pm
                      .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_01_Retina.jpg")
                      .c-box__link-wrap
                        .btn-pointer__wrap.
                          <a class="btn btn-pointer" href="event-open.html"><span class="btn-pointer__txt">More</span></a>
                          <svg class="btn-pointer__left" x="0px" y="0px" viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                          <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                      a(href="event-open.html" rel="nofollow").b-box__link
                .b-tabs__pane-item.col-xs-12.col-lg-6
                  .c-box.c-box-v
                    .c-box__inner
                      .c-box__cont
                        h3.c-box__ttl-s3 St. Patrick’s Day in New York
                        p.c-box__txt.c-box__txt--display Cruachan, Lunasa, Flook, McGoldrick's band
                      .c-box__date-item
                        time.date.c-box__date(datetime="2016-09-24T20:00")
                          span.date__dt 24
                          span.date__rh
                            span.date__rh-m sept
                            span.date__rh-d Mon
                          span.date__ad 8:00 pm
                      .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_02_Retina.jpg")
                      .c-box__link-wrap
                        .btn-pointer__wrap.
                          <a class="btn btn-pointer" href="event-open.html"><span class="btn-pointer__txt">More</span></a>
                          <svg class="btn-pointer__left" x="0px" y="0px" viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                          <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                      a(href="event-open.html" rel="nofollow").b-box__link
                .b-tabs__pane-item.col-xs-12.col-lg-6
                  .c-box.c-box-v
                    .c-box__inner
                      .c-box__cont
                        h3.c-box__ttl-s3 American Decorative Arts
                        p.c-box__txt.c-box__txt--display Fifth Avenue
                      .c-box__date-item
                        time.date.c-box__date(datetime="2016-09-25T20:00")
                          span.date__dt 25
                          span.date__rh
                            span.date__rh-m sept
                            span.date__rh-d Mon
                          span.date__ad 8:00 pm
                      .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_03_Retina.jpg")
                      .c-box__link-wrap
                        .btn-pointer__wrap.
                          <a class="btn btn-pointer" href="event-open.html"><span class="btn-pointer__txt">More</span></a>
                          <svg class="btn-pointer__left" x="0px" y="0px" viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                          <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                      a(href="event-open.html" rel="nofollow").b-box__link
                .b-tabs__pane-item.col-xs-12.col-lg-6
                  .c-box.c-box-v
                    .c-box__inner
                      .c-box__cont
                        h3.c-box__ttl-s3 Troye Sivan
                        p.c-box__txt.c-box__txt--display Webster Hall
                      .c-box__date-item
                        time.date.c-box__date(datetime="2016-09-26T20:00")
                          span.date__dt 26
                          span.date__rh
                            span.date__rh-m sept
                            span.date__rh-d Mon
                          span.date__ad 8:00 pm
                      .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_04_Retina.jpg")
                      .c-box__link-wrap
                        .btn-pointer__wrap.
                          <a class="btn btn-pointer" href="event-open.html"><span class="btn-pointer__txt">More</span></a>
                          <svg class="btn-pointer__left" x="0px" y="0px" viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                          <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                      a(href="event-open.html" rel="nofollow").b-box__link
                .b-tabs__pane-item.col-xs-12.col-lg-6
                  .c-box.c-box-v
                    .c-box__inner
                      .c-box__cont
                        h3.c-box__ttl-s3 Maurice Hines Is Tappin' Thru Life
                        p.c-box__txt.c-box__txt--display New World Stages: Stage 1
                      .c-box__date-item
                        time.date.c-box__date(datetime="2016-09-27T20:00")
                          span.date__dt 27
                          span.date__rh
                            span.date__rh-m sept
                            span.date__rh-d Mon
                          span.date__ad 8:00 pm
                      .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_05_Retina.jpg")
                      .c-box__link-wrap
                        .btn-pointer__wrap.
                          <a class="btn btn-pointer" href="event-open.html"><span class="btn-pointer__txt">More</span></a>
                          <svg class="btn-pointer__left" x="0px" y="0px" viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                          <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                      a(href="event-open.html" rel="nofollow").b-box__link
                .b-tabs__pane-item.col-xs-12.col-lg-6
                  .c-box.c-box-v
                    .c-box__inner
                      .c-box__cont
                        h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                        p.c-box__txt.c-box__txt--display Stay B, Andrew Feeling, Someone Else
                      .c-box__date-item
                        time.date.c-box__date(datetime="2016-09-28T20:00")
                          span.date__dt 28
                          span.date__rh
                            span.date__rh-m sept
                            span.date__rh-d Mon
                          span.date__ad 8:00 pm
                      .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_06_Retina.jpg")
                      .c-box__link-wrap
                        .btn-pointer__wrap.
                          <a class="btn btn-pointer" href="event-open.html"><span class="btn-pointer__txt">More</span></a>
                          <svg class="btn-pointer__left" x="0px" y="0px" viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                          <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                      a(href="event-open.html" rel="nofollow").b-box__link
          .b-box__btn-wrap.txt--centr
            .btn-icon__wrap.
              <a href="#" class="btn btn-icon">More events</a>
              <svg x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
              <path fill-rule="evenodd" clip-rule="evenodd" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M10.004,17V3"/>
              <path fill-rule="evenodd" clip-rule="evenodd" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M3,9.98h14"/>
              </svg>
      .b-content.container
        .row
          .col-xs-6
            .b-footer__inner.b-footer__twitter
              span.fa.fa-twitter
              p.b-footer__txt.
                RT <a class="link" href="#">@DesignerDepot</a>: "Working on the right thing is probably more important than working
                hard" - Caterina Fake
                <a class="link" href="#">#wdd</a> <a class="link" href="/">#quote</a>
              span.b-footer__days.
                -47 days ago
          .col-xs-6
            .b-footer__inner
              .fb-page(data-href="https://www.facebook.com/facebook", data-width="500",
              data-height="500", data-small-header="false", data-adapt-container-width="true",
              data-hide-cover="false", data-show-facepile="true")
                .fb-xfbml-parse-ignore
                  blockquote(cite="https://www.facebook.com/facebook")
                    a(href="https://www.facebook.com/facebook") Facebook
      .b-promo-sc
        .container
          .row
            .b-promo-sc__item.col-xs-12.col-sm-4
              .b-promo-sc__cont
                span.fa.fa-bullhorn
                h5.s5-heading Feel our new dancehall "Rivierra"
              .b-promo-sc__img-wrap.bg-image(data-bgimage="../uploads/gallery/Gallery_18_Original.jpg")
              .b-promo-sc__inner-bg
              a(href="#").b-promo-sc__link
            .b-promo-sc__item.col-xs-12.col-sm-4
              .b-promo-sc__cont
                span.fa.fa-fire-extinguisher
                h5.s5-heading Check this hot live from "Cube Party"
              .b-promo-sc__img-wrap.bg-image(data-bgimage="../uploads/gallery/Gallery_20_Original.jpg")
              .b-promo-sc__inner-bg
              a(href="#").b-promo-sc__link
            .b-promo-sc__item.col-xs-12.col-sm-4
              .b-audio__item
                iframe(width="100%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/212039125&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true")

      include components/footer4
    include components/scripts
