doctype html
html(lang='en')
  include components/head
  body
    .wrap
      include components/headerLanding
      .b-banner
        .container
          .row
            .col-sm-6 
              a.navbar-brand(href="index.html")
                img(src="images/logo-w.png", alt="")

            .col-sm-6
              .row
                .col-md-6.col-xs-12
                  p Responsive HTML5 theme for entertainment
      include components/footer
    include components/scripts
