doctype html
html(lang='en')
  include components/head
  body
    .wrap
      h1 Manual

      p All template settings can be found in the "System Setting", section "themeclubcube".

      h2 SETTING UP THE MAIN PAGE


    include components/scripts
