doctype html
html(lang='en')
  include components/head
  body
    .wrap
      include components/header
      .b-headlines
        .container
          h1.b-headlines__ttl Video & Audio
      .b-breadcrumbs
        .container
          ul.b-breadcrumbs__list.x-small-txt
            li: a.link(href="index.html") home
            li Video & Audio

      .container
        .row
          .main-video
            .main-video.col-xs-12
              .main-video__iframe-wrap
                iframe(src="https://player.vimeo.com/video/140230038?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
              p.main-video__desc.small-txt.
                Your inner self will meet the full force of the summer, and we can go back to each witness
                leaving the pores, we go back to basics!

          .b-video-sm
            .b-video-item.col-md-4.col-xs-12
              .b-video-item__iframe-sm
                iframe(src="https://player.vimeo.com/video/140230038?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
              p.b-video-item__desc.
                Your inner self will meet the full force of the summer
              time.b-video-item__data.x-small-txt(datetime="2015-15-10") December 15, 2015

            .b-video-item.col-md-4.col-xs-12
              .b-video-item__iframe-md
                iframe(src="https://player.vimeo.com/video/140230038?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
              p.b-video-item__b-desc.x-small-txt.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis,
                sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi
                sapien ut justo. Nulla varius consequat magna, id molestie ipsum

            .b-video-item.col-md-4.col-xs-12
              .b-video-item__iframe-lg
                iframe(src="https://player.vimeo.com/video/140230038?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

          .b-audio
            .b-audio__item.col-xs-12.col-md-6
              iframe(width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/212039125&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true")

            .b-audio__item.col-xs-12.col-md-6
              iframe(width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/225890693&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false")






      include components/footer
    include components/scripts