doctype html
html(lang='en')
  include components/head
  body
    .wrap
      include components/header
      .b-headlines
        .container
          h1.b-headlines__ttl Heading blog & breadcrumbs
      .b-breadcrumbs
        .container
          ul.b-breadcrumbs__list.x-small-txt
            li: a.link(href="index.html") home
            li Page current

      .container
        h2.s2-heading Form
        form.b-form.b-form--inline(action="/" method="GET")
          .b-form__group
            input.b-form__control(type="email", placeholder="Your E-mail")
          button.b-form__btn(type="submit") Subscribe

        h2.s2-heading Message
        .b-msg
          .b-msg__corner
          p.b-msg__txt.small-txt.
            We like to create cool parties and we love to chat with like-minded
          strong Do not hesitate to say hello!

        h2.s2-heading Blocks
        .b-box.b-box--clr-a.col-xs-12.col-xm-6
          .b-box__date
            time(datetime="2015-04-25T14:44") may 25, 14:44
          .b-box__txt.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquid autem cupiditate debitis delectus dignissimos fuga
          a(href="#").b-box__link
        .b-box.col-xs-12.col-xm-6
          .b-box__date
            time(datetime="2015-04-25T14:44") may 25, 14:44
          .b-box__txt.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquid autem cupiditate debitis delectus dignissimos fuga
          a(href="#").b-box__link
        .b-box.b-box-sm.col-xs-12.col-xm-6
          .b-box__date
            time(datetime="2015-04-25T14:44") may 25, 14:44
          .b-box__txt.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquid autem cupiditate debitis delectus dignissimos fuga
          a(href="#").b-box__link
        .b-box.b-box-sm.b-box--clr-a.col-xs-12.col-xm-6
          .b-box__date
            time(datetime="2015-04-25T14:44") may 25, 14:44
          .b-box__txt.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquid autem cupiditate debitis delectus dignissimos fuga
          a(href="#").b-box__link
        .b-box.b-box--clr-b.col-xs-12.col-xm-6
          .b-box__img-wrap.bg-image(data-bgimage="../uploads/blog/Blog_01_Retina.jpg")
          .b-box__date
            time(datetime="2015-04-25T14:44") may 25, 14:44
          .b-box__txt.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquid autem cupiditate debitis delectus dignissimos fuga
          a(href="#").b-box__link
        .b-box.b-box-sm.b-box--clr-b.col-xs-12.col-xm-6
          .b-box__img-wrap.bg-image(data-bgimage="../uploads/blog/Blog_01_Retina.jpg")
          .b-box__date
            time(datetime="2015-04-25T14:44") may 25, 14:44
          .b-box__txt.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquid autem cupiditate debitis delectus dignissimos fuga
          a(href="#").b-box__link
      include components/footer
    include components/scripts