//
// Parallax
// --------------------------------------------------
.b-headlines--img-prlx .container
  position: relative

@media (min-width: $screen-md)
  .parallax
    background-position: 50% 0
    background-attachment: fixed
    background-repeat: no-repeat
    overflow: hidden