@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700&subset=latin,cyrillic-ext);

$base-font:                     'Open Sans', sans-serif;
$fa:                            'font-awesome';

$base-font-size:               16px;
$base-color:                   #000;