//
// Colors variable
// --------------------------------------------------
$black-c:   #202020
$white-c: #fff
$active-c: #c0d23e
$active-sc-c: #530d85
$deep-black-c: #0f0809

$mark-c: #a82743
$grey-c: #ccc
$grey-deep-c: #8f8f8f
$code-c: #e8e8e8
$txt-c: $black-c

$white-light-c: rgba(255, 255, 255, 0.33)
$hr-line-c: $white-light-c

$blog-bg: #e8e8e8
$tab-bg: $black-c
$accord-c: #e8e8e8
$promo-bg: #e8e8e8
$gallery-bg: $tab-bg
$bg-fs-slide: #aeacac

$form-btn-c: #c0d23e
$form-txt-c: #666

$b-box-c-a: $active-sc-c
$b-box-c-b: $active-sc-c