//
// Colors variable
// --------------------------------------------------
$black-c:   #202020
$active-c: #c0d23e
$active-sc-c: #530d85

$mark-c: #a82743
$grey-c: #ccc
$code-c: #FFF0BF
$txt-c: #0f0809

$white-light-c: rgba(255, 255, 255, 0.33)
$hr-line-c: $white-light-c

$blog-bg: #e8e8e8
$tab-bg: #0f0809
$accord-c: #e8e8e8
$accord-txt-x: #666

$form-btn-c: #c0d23e
$form-txt-c: #666