//
// Buttons
//=========================================
.btn
  display: inline-block
  padding: 18px 28px
  background-color: #687684
  border-radius: 4px
  font-size: 14px
  color: #fff
  font-weight: 900
  text-decoration: none
  text-align: center
  text-transform: uppercase
  outline: none

.link-to
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
  font-size: 14px
  line-height: 28px
  color: #000
  font-weight: 900
  text-transform: uppercase
  letter-spacing: 0.6px
  text-decoration: none