//
// Gallery
// --------------------------------------------------
.b-gallery
  padding-top: 30px
  padding-bottom: 40px
  background-color: $gallery-bg
  color: #fff

.b-gallery__img-wrap
  display: none

.b-gallery .c-box__link
  color: #fff

@media (min-width: $screen-sm)
  .b-gallery__img-wrap
    display: block





























