//
// Globals
//=========================================
html
  font-family: $base-font
  line-height: 1

html,
body
  height: 100%

.wrap
  min-height: 100%
  margin-bottom: -190px

.wrap:after
  display: block
  content: ''

.wrap:after,
footer
  height: 190px