//
// Typography
// --------------------------------------------------
section
  margin-bottom: 70px

.wrap
  padding-top: 50px

.hr-line
  height: 1px
  border: none
  background-color: $grey-c

.b-grid
  overflow: hidden

@media (min-width: $screen-sm)

  .wrap
    padding-top: 80px

  .line
    padding-right: 40px
    padding-left: 40px


