/**
 * Header
 */

.header
  position: fixed
  top: 0
  right: 0
  left: 0
  transform: translate3d(0, 0, 0)

.navbar-header:after
  display: block
  content: ''
  clear: both

.navbar-brand
  display: block
  height: 30px
  float: left
  margin-top: 10px

.navbar-brand img
  display: block
  width: auto
  height: 100%

.navbar-toogle
  display: block
  position: relative
  width: 70px
  height: 50px
  float: right
  margin-right: -15px
  padding: 10px 15px
  border: none
  background-color: transparent

.navbar-toogle .icon-bar
  display: block
  width: 40px
  height: 6px
  margin-bottom: 6px

  &:last-child
    margin-bottom: 0

.navbar-collapse
  display: none

.navbar-list
  margin: 0
  padding: 0
  list-style: none

.navbar-list > li > a
  font-size: 14px
  text-transform: uppercase
  text-decoration: none

@media (min-width: $screen-sm)

  .navbar-header

  .navbar-brand
    height: 40px
    margin-top: 20px

  .navbar-toogle
    width: 140px
    height: 80px

  .navbar-toogle .icon-bar
    width: 60px
    height: 7px
    margin-bottom: 9px


@media (min-width: $screen-lg)

  .navbar-header
    float: left

  .navbar-toogle
    display: none

  .navbar-collapse
    display: block

  .navbar-collapse:before
    display: table
    content: ''

  .navbar-list
    float: right

  .navbar-list > li
    float: left
    &:last-child
      margin-right: 0

  .navbar-list > li > a
    display: block
    padding: 33px 17px

@media (min-width: $screen-xl)

  .header .line
    width: 1340px
    margin-right: auto
    margin-left: auto
    padding: 0


