//
// Header
// --------------------------------------------------

.header
  position: fixed
  top: 0
  right: 0
  left: 0
  transform: translate3d(0, 0, 0)
  z-index: 3

.navbar-header:after
  display: block
  content: ''
  clear: both

.navbar-brand
  display: block
  height: 30px
  float: left
  margin-top: 10px
  border-bottom: none

.navbar-brand img
  display: block
  width: auto
  height: 100%

.navbar-toogle
  display: block
  position: relative
  width: 70px
  height: 50px
  float: right
  margin-right: -15px
  padding: 10px 15px
  border: none
  background-color: transparent

.navbar-toogle .icon-bar
  display: block
  width: 40px
  height: 6px
  margin-bottom: 6px

  &:last-child
    margin-bottom: 0

.navbar-collapse
  display: none

.navbar-list
  margin: 0
  padding: 0
  font-size: 14px
  list-style: none

.navbar-list > li > a
  position: relative
  text-transform: uppercase
  border: none

.navbar-current
  display: block
  padding: 18px 0
  color: #fff
  text-transform: uppercase
  transition: all 0.2s ease

.navbar-list .fa-angle-right
  float: right
  margin-top: -4px
  font-size: 20px
  color: rgba(255, 255, 255, 0.66)
  transition: all 0.2s ease

.navbar-list-item,
.navbar-list-inner
  padding: 0

.navbar-list-item > li,
.navbar-list-inner > li
  border-bottom: 2px solid rgba(255, 255, 255, 0.33)
  &:last-child
    border-bottom: none

.navbar-list-item > li > a,
.navbar-list-inner > li > a
  text-transform: uppercase
  border: none

.navbar-list-item,
.navbar-list-inner
  display: none
  &.active
    display: block

@media (min-width: $screen-sm)

  .header__sticky .navbar-brand
    height: 30px
    margin-top: 10px

  .header__sticky .navbar-toogle
    width: 70px
    height: 50px

  .header__sticky .navbar-toogle .icon-bar
    width: 40px
    height: 6px
    margin-bottom: 6px

  .header__sticky.header--toggled .navbar-toogle
    padding: 10px 0

  .header__sticky.header--toggled .navbar-toogle .icon-bar:nth-child(1),
  .header__sticky.header--toggled .navbar-toogle .icon-bar:nth-child(3)
    top: 22px
    width: 40px

  .navbar-brand
    height: 40px
    margin-top: 20px

  .navbar-toogle
    width: 90px
    height: 80px

  .navbar-toogle .icon-bar
    width: 60px
    height: 7px
    margin-bottom: 9px

@media (min-width: $screen-lg)
  .header__sticky .navbar-list > li > a,
  .header__sticky .navbar-current
    padding: 17px
    transition: all 0.2s ease

  .header.header--boxed
    right: auto
    left: auto
    width: 100%
    max-width: 1280px

  .navbar-header
    float: left

  .navbar-toogle
    display: none

  .navbar-collapse
    display: block

  .navbar-collapse:before
    display: table
    content: ''

  .navbar-list
    float: right

  .navbar-list > li
    position: relative
    float: left
    transition: position 0.2s ease-out
    &:last-child
      margin-right: 0

  .navbar-list > li > a,
  .navbar-current
    padding: 33px 17px

  .navbar-current
    color: $active-c

  .navbar-list > li > a > .fa-angle-right
    position: absolute
    top: 65%
    left: 45%
    color: rgba(255, 255, 255, 0.33)
    transform: rotate(90deg)

  .navbar-list li:hover .fa-angle-right
    color: rgba(255, 255, 255, 1)

  .navbar-list-item
    position: absolute
    width: 260px
    padding: 0 15px
    background: $active-c
    opacity: 0

  .navbar-list li:hover .navbar-list-item,
  .navbar-list .navbar-list-next:hover .navbar-list-inner
    display: block
    animation-name: fadeIn
    animation-duration: 0.2s
    animation-fill-mode: forwards

  @keyframes fadeIn
    0%
      opacity: 0
    100%
      opacity: 1

  .navbar-list-next
    position: relative

  .navbar-list-inner
    position: absolute
    padding: 0 15px
    width: 260px
    background: darken($active-c, 5%)
    top: 0
    left: 245px

  .dt-back
    display: none

@media (min-width: $screen-xl)

  .header .line
    width: 1340px
    margin-right: auto
    margin-left: auto
    padding: 0


