.fill-wrap
  background-color: #E8E8E8 !important

.page-item__inner
  margin: 0
  overflow: hidden
  text-align: center
  margin-bottom: 15px

.page-item__inner .img-block 
  text-align: center
  position: relative
  height: 360px

  &:after
    content: ''
    position: absolute
    bottom: 0
    width: 100%
    height: 20px
    left: 0
    background: linear-gradient(to top, rgba(232,232,232,.58), rgba(232,232,232,0))

.page-item__inner .img-block img 
  max-width: 100%
  position: static
  transform: scale(1.1,1.1)
  transition: transform .9s ease, bottom 1.5s ease
  margin: auto

.page-item__wrap:hover .img-block img
  transform: scale(1,1)
  top: initial
  bottom: 0 !important
  transition: transform .9s ease, bottom 3s ease

.page-item__wrap
  text-align: center
  margin-top: 40px
  margin-bottom: 40px
  position: relative
  z-index: 1

  &:after
    content: ''
    position: absolute
    z-index: -1
    top: 360px
    left: -12px
    height: 2px
    width: calc(100% + 24px)
    background: url(../images/themeClub-thumb-shadow.svg) no-repeat center

@-moz-document url-prefix()
  .page-item__wrap
    &:after
      top: 359px

.page-item__wrap a.link
  position: absolute
  width: 100%
  height: 100%
  z-index: 1
  left: 0
  top: 0
  border: none !important

.page-item__wrap .link-title
  position: relative
  z-index: 1

.page-item__wrap a
  font-size: 18px
  line-height: 30px
  color: $black-c
  font-family: $second-bold-font
  border-bottom: 4px solid

.b-banner__img-block
  margin-top: 40px

.b-banner__img-block img
  max-width: 100%

.btn-label 
  margin: 6px 0
  vertical-align: top

.btn-label:hover span
  transform: none !important

.btn-label > .btn-pointer
  font-size: 14px
  min-height: 20px
  line-height: 20px
  padding: 0 5px

.btn-label .btn-pointer span:after
  display: none

.b-banner__img-block
  position: relative


@media screen and (min-width: $screen-md)
  .page-item__inner .img-block img
    position: absolute