//
// Typography
// --------------------------------------------------

html
  font-family: $base-font
  line-height: 1
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h1,
h2,
h3,
h4,
h5,
h6
  font-weight: normal
  span
    font-family: $base-font
    text-transform: none

//.s1-heading,
//.s2-heading,
//.s3-heading,
//.s4-heading,
//.s5-heading,
//.s6-heading
//  text-transform: uppercase

.s1-heading
  margin: 65px 0
  font-family: $base-bold-font
  font-size: 48px

.s2-heading
  margin: 30px 0
  font-family: $second-bold-font
  font-size: 30px

.s3-heading
  margin: 20px 0
  font-family: $second-bold-font
  font-size: 24px
  line-height: 30px

.s4-heading
  margin: 20px 0
  font-family: $second-bold-font
  font-size: 22px

.s5-heading
  margin: 10px 0
  font-family: $second-bold-font
  font-size: 20px

.s6-heading
  margin: 10px 0
  font-family: $second-bold-font
  font-size: 18px

.large-txt
  font-size: 20px

p,
.txt
  font-size: 18px
  line-height: 30px

.small-txt
  font-size: 14px
  line-height: 20px

.x-small-txt
  font-size: 10px
  line-height: 14px

.i,
i,
italic
  font-family: $base-bold-it-font
  font-style: normal

.b,
b,
strong
  font-family: $base-bold-font
  font-weight: normal

a
  color: $active-c
  text-decoration: none
  border-bottom: 1px solid $active-c
  word-break: break-all

.link:hover
  border-bottom: 1px dotted

p
  margin-top: 20px
  margin-bottom: 20px

ul,
ol
  margin: 0
  padding: 0 0 0 48px
  list-style-type: none

.list li
  position: relative

.list li::before
  content: ''
  position: absolute
  top: 12px
  left: -25px
  display: block
  width: 5px
  height: 5px
  background-color: $mark-c

.list-numb li
  counter-increment: number
  position: relative

.list-numb li::before
  content: counter(number)
  position: absolute
  left: -29px
  font-family: $base-bold-font
  color: $mark-c

blockquote
  position: relative
  margin: 0
  padding: 0 0 0 48px

blockquote::before
  content: ''
  position: absolute
  top: 0
  bottom: 0
  left: 23px
  width: 5px
  background-color: $mark-c

.b-code
  display: block
  padding: 60px
  background-color: $code-c