doctype html
html(lang='en')
  include components/head
  body
    .wrap
      include components/header


      .b-content.b-content--bg-clr
        main.b-main
          .b-ntfound__wrap
            .b-ntfound__img-wrap
              h2.b-ntfound__ttl Nothing found
              img(src="images/404.png" alf="page not found")

      include components/footer
    include components/scripts
