doctype html
html(lang='en')
  include components/head
  body
    .wrap
      include components/header

      section.top-event
        .container
          .row
            h2.top-event__ttl Top Events
              .top-event__slider
      section.gallery
        .container
          .row
            h2.gallery__ttl Gallery
            .col-xs-12.col-lg-3.col-md-6.col-sm-6
              .gallery-b
                .gallery-b__img
                .gallery-b__ttl
                  .gallery-b__aside
                    h3
                      a.gallery-b__link(href="#") HIP-HOP X OH!TRAP
                    time.gallery-b__time(datetime='2014-09-23') 25 April
                  .gallery-b__details
                    .b-details__icon-photo 23
                    .b-details__icon-video 23
            .col-xs-12.col-lg-3.col-md-6.col-sm-6
              .gallery-b
                .gallery-b__img
                .gallery-b__ttl
                  .gallery-b__aside
                    h3
                      a.gallery-b__link(href="#") HIP-HOP X OH!TRAP
                    time.gallery-b__time(datetime='2014-09-23') 25 April
                  .gallery-b__details s
            .col-xs-12.col-lg-3.col-md-6.col-sm-6
              .gallery-b
                .gallery-b__img
                .gallery-b__ttl
                  .gallery-b__aside
                    h3
                      a.gallery-b__link(href="#") HIP-HOP X OH!TRAP
                    time.gallery-b__time(datetime='2014-09-23') 25 April
                  .gallery-b__details s
            .col-xs-12.col-lg-3.col-md-6.col-sm-6
              .gallery-b
                .gallery-b__img
                .gallery-b__ttl
                  .gallery-b__aside
                    h3
                      a.gallery-b__link(href="#") HIP-HOP X OH!TRAP
                    time.gallery-b__time(datetime='2014-09-23') 25 April
                  .gallery-b__details s
      section.blog
        .container
          .row
            h2.blog__ttl Blog
      section.partners
        .container

      include components/footer
    include components/scripts