doctype html
html(lang='en')
  include components/head
  body
    .wrap
      include components/header

      .main-slide
        .main-slide__btn-item
        .main-slide__slider#sliderMain

          .main-slide__item-a
            .main-slide__img-wrap.bg-image(data-bgimage="../uploads/gallery/Gallery_19_Original.jpg")
            .container
              .main-slide__item-inr
                h1.main-slide__s1-ttl.main-slide__s1-ttl--indent FRIENDS Private House Party
                .main-slide__date-wrap
                  time(datetime="2015-09-23T08:00").date-lg
                    span.date-lg__dt 23
                    span.date-lg__rh
                      span.date-lg__rh-m september 2015
                      span.date-lg__rh-d Mon
                      span.date-lg__rh-t 8:00 am
                hr.hr-pattern
                h2.main-slide__s2-ttl Stay B, Andrew Feeling, Someone Else
                p.
                  But still, we love to roll loud dancing until dawn, and then to "crawl" on
                  the body, remember proschedshem evente perekrik and share emotions we
                  experienced some time ago.
                .main-slide__footer
                  ul.b-likes.b-likes--wht.b-likes--indent
                    li.b-likes__pinterest-p.
                      <span>457
                      <svg x="0px" y="0px" viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                    li.b-likes__google-plus.
                      <span>457
                      <svg x="0px" y="0px" viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                    li.b-likes__twitter.
                      <span>457
                      <svg x="0px" y="0px" viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                    li.b-likes__facebook.
                      <span>1.45K
                      <svg x="0px" y="0px" viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>

                  .main-slide__link-wrap
                    a.btn.btn-info.btn-anim-a(href="event-open.html")
                      | <span>free</span>
                      | <span><svg x="0px" y="0px"
                      | viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                      | <path class="st0" fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                      |  <b>read more</b></span>

          .main-slide__item-b
            .main-slide__bg-wrap.bg-grdnt
            .container
              .main-slide__item-inr
                h1.main-slide__s1-ttl FRIENDS Private House Party
                hr.hr-pattern
                h2.main-slide__s2-ttl Stay B, Andrew Feeling, Someone Else
                p.
                  But still, we love to roll loud dancing until dawn, and then to "crawl" on
                  the body, remember proschedshem evente perekrik and share emotions we
                  experienced some time ago.
                .main-slide__footer
                  ul.b-likes.b-likes--wht
                    li.b-likes__pinterest-p.
                      <span>457
                      <svg x="0px" y="0px" viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                    li.b-likes__google-plus.
                      <span>457
                      <svg x="0px" y="0px" viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                    li.b-likes__twitter.
                      <span>457
                      <svg x="0px" y="0px" viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                    li.b-likes__facebook.
                      <span>1.45K
                      <svg x="0px" y="0px" viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                      <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                      </svg>
                      </span>
                  .main-slide__link-wrap
                    .btn-pointer__wrap.
                      <a class="btn btn-pointer btn-pointer--lg btn-anim-a" href="event-open.html"><b>More</b></a>
                      <svg class="btn-pointer__left" x="0px" y="0px" viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                      <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
      .b-content.container
        main.b-main
          h6.s6-heading.b-tabs__ttl Past events
          #masnrGallery.b-gallery-wrap.topmargin.row
            .grid-sizer
            .c-box.c-box--lg.col-xs-12.col-md-6.col-lg-6
              .c-box__inner
                .c-box__cont
                  h2.c-box__ttl-s2 TRAP  ONLY. best records plus fit
                  hr.hr-pattern
                  p.c-box__txt.c-box__txt--display Stay B, Andrew Feeling, Someone Else
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_02_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date.c-box__date.c-box__date--lg(datetime="2009-08-29T20:00")
                    span.date__dt 23
                    span.date__rh
                      span.date__rh-m sept
                      span.date__rh-d 2014
                .c-box__link-wrap.c-box__link-wrap--indent
                  .btn-pointer__wrap.
                    <a class="btn btn-pointer__sm btn-anim-a" href="gallery-open.html"><b>open event & Gallery</b></a>
                    <svg class="btn-pointer__left" x="0px" y="0px" viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                    <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2
                a(href="gallery-open.html" rel="nofollow").b-box__link
            .c-box.c-box--lg.col-xs-12.col-md-6.col-lg-6
              .c-box__inner
                .c-box__cont
                  h2.c-box__ttl-s2 TRAP  ONLY. best records plus fit
                  hr.hr-pattern
                  p.c-box__txt.c-box__txt--display Stay B, Andrew Feeling, Someone Else
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_02_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date.c-box__date.c-box__date--lg(datetime="2009-08-29T20:00")
                    span.date__dt 23
                    span.date__rh
                      span.date__rh-m sept
                      span.date__rh-d 2014
                .c-box__link-wrap.c-box__link-wrap--indent
                  .btn-pointer__wrap.
                    <a class="btn btn-pointer__sm btn-anim-a" href="gallery-open.html"><b>open event & Gallery</b></a>
                    <svg class="btn-pointer__left" x="0px" y="0px" viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                    <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2
                a(href="gallery-open.html" rel="nofollow").b-box__link
            .c-box.c-box--lg.col-xs-12.col-md-6.col-lg-6
              .c-box__inner
                .c-box__cont
                  h2.c-box__ttl-s2 TRAP  ONLY. best records plus fit
                  hr.hr-pattern
                  p.c-box__txt.c-box__txt--display Stay B, Andrew Feeling, Someone Else
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_02_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date.c-box__date.c-box__date--lg(datetime="2009-08-29T20:00")
                    span.date__dt 23
                    span.date__rh
                      span.date__rh-m sept
                      span.date__rh-d 2014
                .c-box__link-wrap.c-box__link-wrap--indent
                  .btn-pointer__wrap.
                    <a class="btn btn-pointer__sm btn-anim-a" href="gallery-open.html"><b>open event & Gallery</b></a>
                    <svg class="btn-pointer__left" x="0px" y="0px" viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                    <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2
                a(href="gallery-open.html" rel="nofollow").b-box__link
            .c-box.c-box--lg.col-xs-12.col-md-6.col-lg-6
              .c-box__inner
                .c-box__cont
                  h2.c-box__ttl-s2 TRAP  ONLY. best records plus fit
                  hr.hr-pattern
                  p.c-box__txt.c-box__txt--display Stay B, Andrew Feeling, Someone Else
                .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_02_Original.jpg")
                .c-box__date-item.c-box__date-item--float
                  time.date.c-box__date.c-box__date--lg(datetime="2009-08-29T20:00")
                    span.date__dt 23
                    span.date__rh
                      span.date__rh-m sept
                      span.date__rh-d 2014
                .c-box__link-wrap.c-box__link-wrap--indent
                  .btn-pointer__wrap.
                    <a class="btn btn-pointer__sm btn-anim-a" href="gallery-open.html"><b>open event & Gallery</b></a>
                    <svg class="btn-pointer__left" x="0px" y="0px" viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                    <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                ul.c-box__views
                  li.c-box__view.txt 32
                  li.c-box__video.txt 2
                a(href="gallery-open.html" rel="nofollow").b-box__link
            .b-box__btn-wrap.txt--centr.col-xs-12
              .btn-icon__wrap.
                <a href="#" class="btn btn-icon">More events</a>
                <svg x="0px" y="0px"
                  width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                <path fill-rule="evenodd" clip-rule="evenodd" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M10.004,17V3"/>
                <path fill-rule="evenodd" clip-rule="evenodd" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M3,9.98h14"/>
                </svg>
      .b-content.container
        main.b-main
          h6.s6-heading.b-tabs__ttl Blogs
          #masnBox.b-box-wrap.topmargin.nobottommargin
            article.b-box.b-box--clr-b
              .b-box__img-wrap.bg-image(data-bgimage="../uploads/blog/Blog_01_Retina.jpg")
              .b-box__date
                time(datetime="2015-04-25T14:44") may 25, 14:44
              h6.b-box__s6-ttl.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquid autem cupiditate debitis delectus dignissimos fuga
              a(href="blog-open.html").b-box__link

            article.b-box.b-box--clr-a
              .b-box__date
                time(datetime="2015-04-25T14:45") may 25, 14:45
              h6.b-box__s6-ttl.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquid autem cupiditate debitis delectus dignissimos fuga
              a(href="blog-open.html").b-box__link

            article.b-box.b-box-sm.b-box--clr-b
              .b-box__img-wrap.bg-image(data-bgimage="../uploads/blog/Blog_01_Retina.jpg")
              .b-box__date
                time(datetime="2015-04-25T14:44") may 25, 14:44
              h6.b-box__s6-ttl.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquid autem cupiditate debitis delectus dignissimos fuga
              a(href="blog-open.html").b-box__link

            article.b-box.b-box-sm.b-box--clr-b
              .b-box__img-wrap.bg-image(data-bgimage="../uploads/blog/Blog_01_Retina.jpg")
              .b-box__date
                time(datetime="2015-04-25T14:44") may 25, 14:44
              h6.b-box__s6-ttl.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquid autem cupiditate debitis delectus dignissimos fuga
              a(href="blog-open.html").b-box__link

            article.b-box.b-box-sm
              .b-box__date
                time(datetime="2015-04-25T14:45") may 25, 14:45
              h6.b-box__s6-ttl.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquid autem cupiditate debitis delectus dignissimos fuga

            article.b-box.b-box--clr-a
              .b-box__date
                time(datetime="2015-04-25T14:45") may 25, 14:45
              h6.b-box__s6-ttl.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquid autem cupiditate debitis delectus dignissimos fuga
              a(href="blog-open.html").b-box__link

            article.b-box
              .b-box__date
                time(datetime="2015-04-25T14:44") may 25, 14:44
              h6.b-box__s6-ttl.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquid autem cupiditate debitis delectus dignissimos fuga

            article.b-box.b-box-sm.b-box--clr-b
              .b-box__img-wrap.bg-image(data-bgimage="../uploads/blog/Blog_01_Retina.jpg")
              .b-box__date
                time(datetime="2015-04-25T14:44") may 25, 14:44
              h6.b-box__s6-ttl.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquid autem cupiditate debitis delectus dignissimos fuga
              a(href="blog-open.html").b-box__link

        .b-box__btn-wrap.txt--centr
          .btn-icon__wrap.
            <a href="#" class="btn btn-icon">More blogs</a>
            <svg x="0px" y="0px"
              width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
            <path fill-rule="evenodd" clip-rule="evenodd" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M10.004,17V3"/>
            <path fill-rule="evenodd" clip-rule="evenodd" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M3,9.98h14"/>
            </svg>
      .b-gallery
        .b-gallery__img-wrap.bg-image(data-bgimage="")
        .container
          .row
            .b-item__header.col-xs-12
              h6.s6-heading.b-item__ttl-header Gallery
            .b-gallery__slider.btn-white#sliderGallery
              article.c-box.c-box--sm
                .c-box__inner
                  .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_05_Original.jpg")
                  .c-box__date-item.c-box__date-item--float
                    time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                      span.date-sm__dt 23
                      span.date-sm__rh
                        span.date-sm__rh-m sept
                        span.date-sm__rh-d 2014
                  ul.c-box__views
                    li.c-box__view.txt 32
                    li.c-box__video.txt 2
                  a(href="gallery-open.html" rel="nofollow").b-box__link
                h6
                  a.c-box__link(href="gallery-open.html") Mash up your heads: christmas night mash up your heads: christmas night

              article.c-box.c-box--sm
                .c-box__inner
                  .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_07_Original.jpg")
                  .c-box__date-item.c-box__date-item--float
                    time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                      span.date-sm__dt 23
                      span.date-sm__rh
                        span.date-sm__rh-m sept
                        span.date-sm__rh-d 2014
                  ul.c-box__views
                    li.c-box__view.txt 32
                    li.c-box__video.txt 2
                  a(href="gallery-open.html" rel="nofollow").b-box__link
                h6
                  a.c-box__link(href="gallery-open.html") Californication nights

              article.c-box.c-box--sm
                .c-box__inner
                  .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_04_Original.jpg")
                  .c-box__date-item.c-box__date-item--float
                    time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                      span.date-sm__dt 23
                      span.date-sm__rh
                        span.date-sm__rh-m sept
                        span.date-sm__rh-d 2014
                  ul.c-box__views
                    li.c-box__view.txt 32
                    li.c-box__video.txt 2
                  a(href="gallery-open.html" rel="nofollow").b-box__link
                h6
                  a.c-box__link(href="gallery-open.html") Mash up your heads: christmas night mash up your heads: christmas night

              article.c-box.c-box--sm
                .c-box__inner
                  .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_06_Original.jpg")
                  .c-box__date-item.c-box__date-item--float
                    time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                      span.date-sm__dt 23
                      span.date-sm__rh
                        span.date-sm__rh-m sept
                        span.date-sm__rh-d 2014
                  ul.c-box__views
                    li.c-box__view.txt 32
                    li.c-box__video.txt 2
                  a(href="gallery-open.html" rel="nofollow").b-box__link
                h6
                  a.c-box__link(href="gallery-open.html") Californication nights

              article.c-box.c-box--sm
                .c-box__inner
                  .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_07_Original.jpg")
                  .c-box__date-item.c-box__date-item--float
                    time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                      span.date-sm__dt 23
                      span.date-sm__rh
                        span.date-sm__rh-m sept
                        span.date-sm__rh-d 2014
                  ul.c-box__views
                    li.c-box__view.txt 32
                    li.c-box__video.txt 2
                  a(href="gallery-open.html" rel="nofollow").b-box__link
                h6
                  a.c-box__link(href="gallery-open.html") Mash up your heads: christmas night mash up your heads: christmas night

              article.c-box.c-box--sm
                .c-box__inner
                  .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_05_Original.jpg")
                  .c-box__date-item.c-box__date-item--float
                    time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                      span.date-sm__dt 23
                      span.date-sm__rh
                        span.date-sm__rh-m sept
                        span.date-sm__rh-d 2014
                  ul.c-box__views
                    li.c-box__view.txt 32
                    li.c-box__video.txt 2
                  a(href="gallery-open.html" rel="nofollow").b-box__link
                h6
                  a.c-box__link(href="gallery-open.html") Mash up your heads: christmas night mash up your heads: christmas night

              article.c-box.c-box--sm
                .c-box__inner
                  .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_06_Original.jpg")
                  .c-box__date-item.c-box__date-item--float
                    time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                      span.date-sm__dt 23
                      span.date-sm__rh
                        span.date-sm__rh-m sept
                        span.date-sm__rh-d 2014
                  ul.c-box__views
                    li.c-box__view.txt 32
                    li.c-box__video.txt 2
                  a(href="gallery-open.html" rel="nofollow").b-box__link
                h6
                  a.c-box__link(href="gallery-open.html") Mash up your heads: christmas night mash up your heads: christmas night

              article.c-box.c-box--sm
                .c-box__inner
                  .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_07_Original.jpg")
                  .c-box__date-item.c-box__date-item--float
                    time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                      span.date-sm__dt 23
                      span.date-sm__rh
                        span.date-sm__rh-m sept
                        span.date-sm__rh-d 2014
                  ul.c-box__views
                    li.c-box__view.txt 32
                    li.c-box__video.txt 2
                  a(href="gallery-open.html" rel="nofollow").b-box__link
                h6
                  a.c-box__link(href="gallery-open.html") Californication nights

              article.c-box.c-box--sm
                .c-box__inner
                  .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_04_Original.jpg")
                  .c-box__date-item.c-box__date-item--float
                    time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                      span.date-sm__dt 23
                      span.date-sm__rh
                        span.date-sm__rh-m sept
                        span.date-sm__rh-d 2014
                  ul.c-box__views
                    li.c-box__view.txt 32
                    li.c-box__video.txt 2
                  a(href="gallery-open.html" rel="nofollow").b-box__link
                h6
                  a.c-box__link(href="gallery-open.html") Mash up your heads: christmas night mash up your heads: christmas night

              article.c-box.c-box--sm
                .c-box__inner
                  .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_06_Original.jpg")
                  .c-box__date-item.c-box__date-item--float
                    time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                      span.date-sm__dt 23
                      span.date-sm__rh
                        span.date-sm__rh-m sept
                        span.date-sm__rh-d 2014
                  ul.c-box__views
                    li.c-box__view.txt 32
                    li.c-box__video.txt 2
                  a(href="gallery-open.html" rel="nofollow").b-box__link
                h6
                  a.c-box__link(href="gallery-open.html") Californication nights

              article.c-box.c-box--sm
                .c-box__inner
                  .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_06_Original.jpg")
                  .c-box__date-item.c-box__date-item--float
                    time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                      span.date-sm__dt 23
                      span.date-sm__rh
                        span.date-sm__rh-m sept
                        span.date-sm__rh-d 2014
                  ul.c-box__views
                    li.c-box__view.txt 32
                    li.c-box__video.txt 2
                  a(href="gallery-open.html" rel="nofollow").b-box__link
                h6
                  a.c-box__link(href="gallery-open.html") Californication nights

              article.c-box.c-box--sm
                .c-box__inner
                  .b-box__img-wrap.b-box__grdnt-b.bg-image(data-bgimage="../uploads/gallery/Gallery_04_Original.jpg")
                  .c-box__date-item.c-box__date-item--float
                    time.date-sm.c-box__date(datetime="2009-08-29T20:00")
                      span.date-sm__dt 23
                      span.date-sm__rh
                        span.date-sm__rh-m sept
                        span.date-sm__rh-d 2014
                  ul.c-box__views
                    li.c-box__view.txt 32
                    li.c-box__video.txt 2
                  a(href="gallery-open.html" rel="nofollow").b-box__link
                h6
                  a.c-box__link(href="gallery-open.html") Mash up your heads: christmas night mash up your heads: christmas night
      include components/footer
    include components/scripts
