doctype html
html(lang='en')
  include components/head
  body
    .wrap
      include components/header

      .b-headlines
        .container
          .b-breadcrumbs
            ul.b-breadcrumbs__list.x-small-txt
              li: a.link(href="index.html") main
              li Clubs
          h1.b-headlines__ttl Clubs

      .b-content.container
        .row
          .b-promo-sc__item.col-xs-12.col-sm-4.b-grid
            .b-promo-sc__cont
              h5.s5-heading Imeria Loundge
            .b-promo-sc__img-wrap.bg-image(data-bgimage="../uploads/gallery/Gallery_18_Original.jpg")
            .b-promo-sc__inner-bg
            a(href="#").b-promo-sc__link
          .b-promo-sc__item.col-xs-12.col-sm-4.b-grid
            .b-promo-sc__cont
              h5.s5-heading Cuba
            .b-promo-sc__img-wrap.bg-image(data-bgimage="../uploads/gallery/Gallery_20_Original.jpg")
            .b-promo-sc__inner-bg
            a(href="#").b-promo-sc__link
          .b-promo-sc__item.col-xs-12.col-sm-4.b-grid
            .b-promo-sc__cont
              h5.s5-heading "Rasputin Club"
            .b-promo-sc__img-wrap.bg-image(data-bgimage="../uploads/gallery/Gallery_18_Original.jpg")
            .b-promo-sc__inner-bg
            a(href="#").b-promo-sc__link
          .b-promo-sc__item.col-xs-12.col-sm-4.b-grid
            .b-promo-sc__cont
              h5.s5-heading Imeria Loundge
            .b-promo-sc__img-wrap.bg-image(data-bgimage="../uploads/gallery/Gallery_18_Original.jpg")
            .b-promo-sc__inner-bg
            a(href="#").b-promo-sc__link
          .b-promo-sc__item.col-xs-12.col-sm-4.b-grid
            .b-promo-sc__cont
              h5.s5-heading Cuba
            .b-promo-sc__img-wrap.bg-image(data-bgimage="../uploads/gallery/Gallery_20_Original.jpg")
            .b-promo-sc__inner-bg
            a(href="#").b-promo-sc__link
          .b-promo-sc__item.col-xs-12.col-sm-4.b-grid
            .b-promo-sc__cont
              h5.s5-heading "Rasputin Club"
            .b-promo-sc__img-wrap.bg-image(data-bgimage="../uploads/gallery/Gallery_18_Original.jpg")
            .b-promo-sc__inner-bg
            a(href="#").b-promo-sc__link
          .b-promo-sc__item.col-xs-12.col-sm-4.b-grid
            .b-promo-sc__cont
              h5.s5-heading Imeria Loundge
            .b-promo-sc__img-wrap.bg-image(data-bgimage="../uploads/gallery/Gallery_18_Original.jpg")
            .b-promo-sc__inner-bg
            a(href="#").b-promo-sc__link
          .b-promo-sc__item.col-xs-12.col-sm-4.b-grid
            .b-promo-sc__cont
              h5.s5-heading Cuba
            .b-promo-sc__img-wrap.bg-image(data-bgimage="../uploads/gallery/Gallery_20_Original.jpg")
            .b-promo-sc__inner-bg
            a(href="#").b-promo-sc__link
          .b-promo-sc__item.col-xs-12.col-sm-4.b-grid
            .b-promo-sc__cont
              h5.s5-heading "Rasputin Club"
            .b-promo-sc__img-wrap.bg-image(data-bgimage="../uploads/gallery/Gallery_18_Original.jpg")
            .b-promo-sc__inner-bg
            a(href="#").b-promo-sc__link
          .b-promo-sc__item.col-xs-12.col-sm-4.b-grid
            .b-promo-sc__cont
              h5.s5-heading Imeria Loundge
            .b-promo-sc__img-wrap.bg-image(data-bgimage="../uploads/gallery/Gallery_18_Original.jpg")
            .b-promo-sc__inner-bg
            a(href="#").b-promo-sc__link
          .b-promo-sc__item.col-xs-12.col-sm-4.b-grid
            .b-promo-sc__cont
              h5.s5-heading Cuba
            .b-promo-sc__img-wrap.bg-image(data-bgimage="../uploads/gallery/Gallery_20_Original.jpg")
            .b-promo-sc__inner-bg
            a(href="#").b-promo-sc__link
          .b-promo-sc__item.col-xs-12.col-sm-4.b-grid
            .b-promo-sc__cont
              h5.s5-heading "Rasputin Club"
            .b-promo-sc__img-wrap.bg-image(data-bgimage="../uploads/gallery/Gallery_18_Original.jpg")
            .b-promo-sc__inner-bg
            a(href="#").b-promo-sc__link

      include components/footer
    include components/scripts