//
// Aside bar
// --------------------------------------------------

.b-aside
  display: none

@media (min-width: $screen-md)
  .b-aside
    display: block

  .b-aside__ttl
    float: left
    margin-bottom: 35px
    text-transform: uppercase

  .b-aside .btn.btn--mini
    position: relative
    top: -5px
    right: -5px
    float: right

  .b-aside .b-box
    margin-bottom: 1px

  .b-aside .c-box
    margin: 0 0 27px 0 !important

  .b-aside .c-box::before
    display: none