//
// Events box
// --------------------------------------------------
.b-events
  padding-top: 48px
  padding-bottom: 60px


.b-events__aside


@media (min-width: $screen-sm)
  .b-events
    padding-top: 90px
    padding-bottom: 100px

@media (min-width: $screen-lg)
  .b-events
    padding-top: 48px
    padding-bottom: 60px













