//
// Panel
// --------------------------------------------------



@media (min-width: $screen-lg)
  .b-panel-t
    padding: 30px 30px 35px 15px
    background-color: $active-c

  .b-panel-t__list:last-child
    float: right

  .b-panel-t__list li
    font-size: 24px
    font-family: $base-bold-font
    line-height: 40px
    color: #fff

  .b-panel-t__list li > span
    font-size: 14px

  .b-panel-t__list li > a
    font-size: 18px
    font-family: $base-font
    color: #fff
    border-color: #fff















