header#header.header
  .container-fluid.line
    .navbar-header
      a.navbar-brand(href="index.html")
        img(src="images/logo-w.png", alt="")
      button#navbarToogle.navbar-toogle.navbar-toogle--clr(type="button")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .col-topbar__wrap.col-topbar__last
        ul.b-topbar__links.b-topbar__pos
          li
            span.b-topbar__line.
              +38 (050) 588-46-37
          li
            span.
              hello@cubeclub.com

    include innerNavigation3