header#header.header
  .container-fluid.line.navbar-flex

    .col-lg-2.text-center.navbar-flex__order-two
      .row
        .navbar-header.navbar-header__ib
          .navbar-header__wrap
            a.navbar-brand.navbar-brand--stl(href="index.html")
              img(src="images/logo-s.png", alt="")
          button#navbarToogle.navbar-toogle(type="button")
            span.icon-bar
            span.icon-bar
            span.icon-bar
    .col-lg-5.header_iinernav.navbar-flex__order-one
      .row
        include innerNavigation2
    .col-lg-5.navbar-right.nav-bar__r.navbar-flex__order-three
      .row
        nav#navbarCollapse.navbar-collapse
          ul#navigation.navbar-list.dl-menu
            li
              a(href="#") FAQ
            li
              a(href="#") Gallery
            li.navbar__tint
              a(href="#")
                span.fa.fa-tint
                i.fa.fa-angle-right
              ul.navbar-dropdown__menu.dl-submenu.navbar-open.dropdown-menu__right--fix
                li#fullWide.navbar__tint-wide.active.wide
                  span wide
                li.navbar-dropdown__submenu.navbar__tint-wide
                  span boxed
                    i.fa.fa-angle-right
                  ul.navbar-list__inner.dl-submenu
                    li(data-ptrn="circle").pattern.circle
                      span Circle pattern
                    li(data-ptrn="triangle").pattern.triangle
                      span Triangle pattern
                    li(data-ptrn="solid").pattern.solid
                      span Solid Color
                    li(data-ptrn="waves").pattern.waves
                      span Waves pattern

                li.navbar__hr-wrap
                  .hr-line
                  .hr-line
                li(data-skin="green").clr-picker.green
                  span green/violet
                li(data-skin="orange").clr-picker.orange
                  span orange/red
                li(data-skin="crimson").clr-picker.crimson
                  span crimson/cyan
                li(data-skin="yellow").clr-picker.yellow
                  span yellow/pink
                li(data-skin="brown").clr-picker.brown
                  span brown/gray

  //.container-fluid.line.commerceNavtop
  //  include innerNavigation2