#fb-root
link(rel="stylesheet", href="css/main-style.css")
script(async=true).
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.4";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
script(src="js/jquery/jquery-3.5.1.min.js")
script(src="js/jquery/jquery-ui.min.js")
script(src="js/jquery/jquery-migrate.js")
script(src="js/jquery/colorSwitch.js")
script(src="js/jquery/bootstrap/bootstrap.js")
script(src="js/jquery/plugins/slick/slick.min.js")
script(src="js/jquery/plugins/masonry/masonry.pkgd.min.js")
script(src="js/jquery/plugins/jquery.stellar.min.js")
script(src="js/jquery/plugins/jquery.magnific-popup.min.js")
script(src="js/jquery/plugins/flexibility.js")
script(src="js/jquery/plugins/jquery.syotimer.js")
script(src="js/app/lib/site.js")
script(src="js/app/lib/siteMode.js")
script(src="js/app/mode/themeMode.js")
script(src="js/app/modules/bgImages.js")
script(src="js/app/modules/dtMenu.js")
script(src="js/app/modules/formValidate.js")
script(src="js/app/modules/formSubscribe.js")
script(src="js/app/modules/formAjax.js")
script(src="js/app/modules/headerFunctions.js")
script(src="js/app/modules/sliders.js")
script(src="js/app/modules/menuAligns.js")
script(src="js/app/modules/galleryFunctions.js")
script(src="js/app/modules/masonryTiles.js")
script(src="js/app/modules/parallax.js")
script(src="js/app/modules/imgHover.js")
script(src="js/app/modules/slickSlider.js")
script(src="js/app/modules/timer.js")
script.
    appMakeBeCool.gateway.init();