header#header.header
  .b-topbar
    .container-fluid.line
      .col-topbar__wrap.col-topbar__first
        ul.b-topbar__links
          li
            span.b-topbar__line.
              +38 (050) 588-46-37
          li
            span.
              hello@cubeclub.com
      .col-topbar__wrap.col-topbar__last
        ul.b-topbar__socials
          li
            a(href="#")
              i.fa.fa-facebook
          li
            a(href="#")
              i.fa.fa-twitter
          li
            a(href="#")
              i.fa.fa-google-plus
          li
            a(href="#")
              i.fa.fa-pinterest
          li
            a(href="#")
              i.fa.fa-linkedin
          li
            a(href="#")
              i.fa.fa-youtube
          li
            a(href="#")
              i.fa.fa-flickr
  .container-fluid.line
    .navbar-header
      a.navbar-brand(href="index.html")
        img(src="images/logo-w.png", alt="")
      button#navbarToogle.navbar-toogle(type="button")
        span.icon-bar
        span.icon-bar
        span.icon-bar

    include innerNavigation