body.circle {
  background-image: url("../../images/patterns/pattern-circle.jpg"); }

body.solid {
  background-image: url("../../images/patterns/pattern-solid.jpg"); }

body.triangle {
  background-image: url("../../images/patterns/pattern-triangle.jpg"); }

body.waves {
  background-image: url("../../images/patterns/pattern-waves.jpg"); }
